<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns="http://www.w3.org/1999/html">

<!-- CSS 적용 -->
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/chat/chat.css}"/>
</div>
<!-- JS 적용 -->
<div layout:fragment="js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript" defer th:src="@{/js/chat/chat.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/chat/chatroom.js}"></script>
</div>

<div layout:fragment="content">
  <div class="chat__chat-frame">
    <!--채팅페이지 전체영역-->
    <div class="chat__chat-container">
      <!--채팅페이지 주요 컨텐츠-->
      <section class="chat__chatroom-list">
        <!--채팅목록-->
        <div class="chat__chatroom-list-header">
          <h3 class="chat__chatroom-list-header-name">메시지</h3>
        </div>
        <!--채팅리스트 스크롤 적용 영역-->
        <div class="chat__chatroom-list-scroll">
          <div th:each="last, i : ${lastChat}" th:if="${lastChat.size()} != 0"
               class="chat__chatroom-list-frame chatroom-list-frame-js">
            <a th:href="@{|/chat/host/${hostId}/chatroom/${last.chatRef}|}">
              <div class="chat__chatroom-list-content">
                <div class="chat__member-img-frame">
                  <div>
                    <img class="chat__member-img"
                         th:src="${last.profileImg}">
                  </div>
                </div>
                <div class="chat__member-info-frame member-info-frame-js">
                  <div th:text="${last.username}" class="chat__member-name"></div>
                  <div th:text="${last.content}" class="chat__message-content message-content-js"></div>
                  <div th:text="${#temporals.format(last.createDate,'yyyy-MM-dd hh:mm')}"
                       class="chat__message-date"></div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>

    </div>
    <input type="hidden" id="memberId" th:value="${session.member.getMemberId()}">
    <input type="hidden" id="chatRef" th:value="${chatRef}"/>
    <input type="hidden" id="name" th:value="${session.member.getUsername()}"/>
    <input type="hidden" id="profile" th:value="${session.member.getProfileImg()}"/>


    <!--채팅방영역-->
    <section class="chat__chatroom">
      <div class="chat__chatroom-header">
        <div class="chat__chatroom-wrap">
          <h3 th:text="${hostName}+'님과의 채팅방'" th:value="${name}" class="chat__chatroom-name"></h3>
          <p th:if="${reply}!=0" th:text="${hostName} + '님의 평균응답율 : '+${reply} + '%'"></p>
          <p th:unless="${reply}==0"></p>
        </div>
      </div>


      <!--채팅방 - 내용 출력 영역(스크롤적용부분)-->

      <div class="chat__chatroom-content chatroom-content-js">
        <div th:each="chat, i : ${chatDto}" th:if="${chatDto.size()} != 0">


          <!--보내는 메세지 내용 영역-->

          <div class="chat__send-chat-container chat-content-js "
               th:if="${chat.memberId}==${session.member.getMemberId()}">

            <img class="chat__sender-img" th:src="${session.member.getProfileImg()}">
            <a th:href="@{|/member/profile/${session.member.getMemberId()}|}">
            <div class="chat__send-chat-content send-chat-content-js">
              <div>
                <span th:text="${session.member.getUsername()}" class="chat__sender"></span>
                <span th:text="${#temporals.format(chat.createDate, 'yyyy-MM-dd hh:mm')}"
                      class="chat__send-time"></span></div>
              <div th:text="${chat.content}" class="chat__send-chat"></div>
              </img>
            </div>
            </a>
          </div>

          <!--보낸 메세지 영역 끝-->
          <!--받은 메세지 영역-->
          <div th:if="${chat.memberId}!=${session.member.getMemberId()}" class="chat__receive-chat-container">
            <a th:href="@{|/member/profile/${hostId}|}">
              <input type="hidden" id="hostId" th:value="${hostId}"/>
              <div class="chat__receive-chat-content">
                <div>
                  <span th:text="${#temporals.format(chat.createDate, 'yyyy-MM-dd hh:mm')}"
                        class="chat__receive-time"></span>
                  <span th:text="${hostName}" class="chat__receiver"></span>
                  <div th:text="${chat.content}" class="chat__receive-chat"></div>
                </div>
                <img class="chat__receiver-img" src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3">
              </div>
            </a>
          </div>
        </div>
        <!--받은 메세지 끝-->

      </div>
      <!--채팅입력창-->
      <div class="chat__form-chat form-chat-js">
        <input class="chat__message message-js" th:name="content" placeholder="보내실 메시지를 입력하세요.">
        <input type="image" onclick="send()" class="chat__send-img"
               src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlIcdOy2ImPo3QJ38_FnB_IRKgVJq94Q35Ag&usqp=CAU"/>
      </div>
    </section>
  </div>
</div>
</html>