.g-review-by__main {
  margin: 35px 235px;
}

.g-review-by__main-top span {
  display: inline-block;
}

.g-review-by__title {
  color: #484848;
  font-size: 31px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 65px;
}

.g-review-by__tabs {
  max-width: 765px;
  border-bottom: 1px solid #dce0e0;
  word-spacing: -2px;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.g-review-by__container {
  max-width: 765px;
}

.g-review-by__panel {
  border: 1px solid #dce0e0;
  margin-bottom: 25px;
}

.g-review-by__panel-header {
  color: #484848;
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid #dce0e0;
  background-color: #edefed;
}

.g-review-by__panel-body {
  font-size: 14px;
  color: #484848;
  padding: 17px 20px;
  line-height: 22px;
}

.g-review-by__panel-body-review {
  display: flex;
  flex-direction: column;
}

.g-review-by__panel-review-profile {
  display: flex;
}

.g-review-by__panel-review-profile-box {
  width: 50px;
  height: 50px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 10px;
}

.g-review-by__panel-review-profile-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.g-review-by__panel-review-profile-text {
  flex: 1;
}

.g-review-by__panel-review-profile-text-name {
  font-size: 16px;
  font-weight: bold;
  color: #414141;
  margin-bottom: 10px;
}

.g-review-by__panel-review-text {
  font-size: 14px;
  margin-right: 50px;
  line-height: normal;
  margin-bottom: 10px;
}

.g-review-by__panel-review-day {
  font-size: 14px;
  color: #666666;
}

.g-review-by__a {
  font-size: 14px;
  font-weight: bold;
  color: #414141;
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

.g-review-by__a-update, .g-review-by__modal-delete {
  margin: 0 5px;
  text-decoration: underline;
}

.g-review-by__a-update:hover, .g-review-by__modal-delete:hover {
  color: red;
  text-decoration: none;
}

.g-review-by__input_area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.g-review-by__reply-textarea-complete {
  width: 450px;
  height: 100%;
  border-radius: 10px;
  border-color: #eeeeee;
  background-color: #eeeeee;
  padding: 15px;
  font-size: 14px;
}

.g-review-by__reply {
  display: flex;
  flex-direction: column;
}

.g-review-by__reply-name {
  display: flex;
  justify-content: flex-end;
}

.g-review-by__modal {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.03);
  top: 0;
  left: 0;
  display: none;
}

.g-review-by__modal-content {
  width: 300px;
  height: 200px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 55%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  line-height: 23px;
}

.g-review-by__update-title {
  display: flex;
}

.g-review-by__delete-title button {
  width: 70px;
  font-size: 25px;
  margin-left: 5px;
}

.g-review-by__delete-text {
  margin: 20px 0;
}

.g-review-by__move {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 0 20px;
}

.g-review-by__move-back {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding-bottom: 15px;
}

.g-review-by__back {
  margin-right: 5px;
}

.g-review-by__move a {
  color: black;
}

.g-review-by__move button {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 10px;
  border-style: none;
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.g-review-by__hr {
  height: 1px;
  background-color: #dbdbdb;
  border: none;
  margin: 15px 0;
}

.g-review-by__panel-body-rate {
  font-size: 16px;
  word-spacing: -3px;
  color: #484848;
  padding: 17px 20px;
  line-height: 22px;
}

.g-review-by__panel-body-rate-text {
  margin-bottom: 10px;
}

.g-review-by__main-top a {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
}

.g-review-by__main-top a:hover {
  text-decoration: underline;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
}

.g-review-by__tabs a {
  display: inline-block;
  text-decoration: none;
  color: #868686;
  font-size: 14px;
  margin-right: 15px;
  cursor: pointer;
}

.g-review-by__tabs a:hover, a:visited {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}

.g-review-by__main-top nav {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}

.g-review-by__main-top nav > span, nav > a {
  padding: 5px;
}