.g-review-about__main {
  margin: 35px 235px;
}

.g-review-about__main-top span {
  display: inline-block;
}

.g-review-about__title {
  color: #484848;
  font-size: 31px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 50px;
}

.g-review-about__tabs {
  max-width: 765px;
  border-bottom: 1px solid #dce0e0;
  word-spacing: -2px;
  margin-bottom: 25px;
  padding-bottom: 15px;
}

.g-review-about__container {
  max-width: 765px;
}

.g-review-about__panel {
  border: 1px solid #dce0e0;
}

.g-review-about__panel-header {
  color: #484848;
  font-size: 16px;
  padding: 10px 20px;
  border-bottom: 1px solid #dce0e0;
  background-color: #edefed;
}

.g-review-about__panel-body {
  font-size: 16px;
  color: #484848;
  padding: 17px 20px;
  line-height: 27px;
}

.g-review-about__panel-body-container {
  display: flex;
  padding: 15px 0;
}

.g-review-about__panel-body-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}

.g-review-about__panel-body-right {
  flex: 10;
  display: flex;
  flex-direction: column;
}

.g-review-about__panel-body-p-comment {
  flex: 1;
  font-size: 14px;
}

.g-review-about__panel-body-p-date {
  flex: 1;
  font-size: 14px;
  word-spacing: -3px;
  color: #707070;
  margin-top: 30px;
}

.g-review-about__profile-box {
  width: 65px;
  height: 65px;
  border-radius: 70%;
  overflow: hidden;
  margin-bottom: 5px;
}

.g-review-about__profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.g-review-about__main-top a {
  text-decoration: none;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
}

.g-review-about__main-top a:hover {
  text-decoration: underline;
  color: #484848;
  font-weight: bold;
  font-size: 14px;
}

.g-review-about__tabs a {
  display: inline-block;
  text-decoration: none;
  color: #868686;
  font-size: 14px;
  margin-right: 15px;
  cursor: pointer;
}

.g-review-about__tabs a:hover, a:visited {
  text-decoration: none;
  color: #484848;
  font-size: 14px;
  font-weight: bold;
  margin-right: 15px;
}

.g-review-about__panel-body-left a {
  text-decoration: none;
  text-align: center;
  line-height: 20px;
  color: #484848;
  font-size: 14px;
  font-weight: bold;
}

.g-review-about__main-top nav {
  text-decoration: none;
  color: #707070;
  font-weight: bold;
  font-size: 14px;
}

.g-review-about__hr {
  height: 1px;
  background-color: #dbdbdb;
  border: none;
  margin: 5px 0;
}