.host-review__main {
  margin: 50px 125px;
}

.host-review__score-group {
  display: table;
  margin-bottom: 22px;
}

.host-review__score-group button {
  border: 1px solid #EBEBEB;
  display: inline-block;
  white-space: nowrap;
  padding: 9px 15px;
  color: #414141;
  font-size: 14px;
  font-weight: bold;
}

.host-review__review {
  display: flex;
}

.host-review__review-left {
  flex: 1;
}

.host-review__review-panel {
  width: 840px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 4px 4px 0;
  padding: 15px;
}

.host-review__review-panel-guest {
  display: flex;
}

.host-review__review-panel-guest-text {
  flex: 10;
  margin: 10px 0;
}

.host-review__review-panel-guest-text-name {
  font-weight: bold;
  font-size: 17px;
  color: #414141;
  margin-bottom: 5px;
}

.host-review__review-panel-guest-text-info {
  margin-top: 3px;
  font-size: 14px;
  color: #666666;
}

.host-review__review-panel-guest-img {
  flex: 1;
}

.host-review__review-panel-guest-profile-box {
  width: 65px;
  height: 65px;
  border-radius: 70%;
  overflow: hidden;
}

.host-review__review-panel-guest-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.host-review__review-panel-score-title {
  font-size: 14px;
  font-weight: bold;
  color: #414141;
}

.host-review__review-panel-score-content {
  font-size: 14px;
  color: #414141;
  margin-top: 20px;
}

.host-review__reply {
  display: flex;
  flex-direction: column;
}

.host-review__reply-write {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
}

.host-review__reply-write button {
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  color: #414141;
}

.host-review__reply-form {
  display: none;
  margin: 10px;
}

.host-review__box {
  display: flex;
  justify-content: flex-end;
}

.host-review__input_area {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.host-review__reply-btn {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #dbdbdb;
  border-radius: 10px;
  border-style: none;
  width: 65px;
  height: 45px;
  cursor: pointer;
  margin: 5px 15px;
}

.host-review__reply-btn:hover {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #000000;
  border-radius: 10px;
  border-style: none;
  width: 65px;
  height: 45px;
  cursor: pointer;
  margin: 5px 15px;
}

#host-review__reply-update, #host-review__reply-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #dbdbdb;
  border-radius: 10px;
  width: 65px;
  height: 45px;
  cursor: pointer;
}

#host-review__reply-update:hover, #host-review__reply-delete:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border-radius: 10px;
  width: 65px;
  height: 45px;
  cursor: pointer;
}

.host-review__reply-textarea {
  width: 650px;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
}

.host-review__reply-textarea-complete {
  width: 650px;
  height: 100%;
  border-radius: 10px;
  border-color: #eeeeee;
  background-color: #eeeeee;
  padding: 15px;
  font-size: 14px;
}

#host-review__reply-update-form {
  display: none;
}

.host-review__review-right {
  flex: 1;
  display: flex;
  margin: 30px;
}

.host-review__review-right-left {
  flex: 1;
}

.host-review__review-right-right {
  flex: 1;
}

.host-review__review-right-left-body {
  display: flex;
}

.host-review__review-right-num {
  font-size: 40px;
  font-weight: bold;
  color: #414141;
}

.host-review__review-right-text {
  margin-top: 5px;
  font-size: 16px;
  color: #414141;
}

.host-review__review-hr {
  height: 1px;
  background-color: #dbdbdb;
  border: none;
  margin: 15px 0;
}
