html, body, .reservation-review__modal-content {
  height: 100%;
  overflow: auto;
}

.reservation-review__main {
  border-top: 1px solid #D5D5D5;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.reservation-review__score-all {
  display: flex;
  font-size: 22px;
  font-weight: bold;
  margin: 50px 0;
}

.reservation-review__star {
  margin-right: 5px;
}

.reservation-review__score-sub {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.reservation-review__sub-box {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  margin: 0 10px;
}

.reservation-review__sub-box-left {
  font-size: 16px;
}

.reservation-review__sub-box-right {
  display: flex;
}

.reservation-review__sub-box-right-bar {
  margin-right: 5px;
}

.reservation-review__sub-box-right-score {
  font-size: 12px;
  font-weight: bold;
}

.reservation-review__review {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 20px;
}

.reservation-review__review-guest {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  margin: 20px 10px;
}

.reservation-review__review-profile {
  display: flex;
  margin-bottom: 15px;
}

.reservation-review__review-profile-box {
  width: 55px;
  height: 55px;
  border-radius: 70%;
  overflow: hidden;
  margin-right: 15px;
}

.reservation-review__review-profile-box-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reservation-review__review-profile-text {
  padding: 5px 0;
}

.reservation-review__review-profile-text-name {
  font-size: 16px;
  font-weight: bold;
  color: #414141;
}

.reservation-review__review-profile-text-info {
  margin-top: 5px;
  font-size: 14px;
  color: #666666;
}

.reservation-review__review-text {
  font-size: 16px;
  margin-right: 50px;
  margin-bottom: 15px;
  line-height: normal;
}

.reservation-review__review-all button {
  margin-left: 60px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: black;
  border-radius: 10px;
  width: 190px;
  height: 50px;
  cursor: pointer;
}

.reservation-review__modal {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
}

.reservation-review__modal-content {
  width: 1000px;
  height: 630px;
  background: #fff;
  border-radius: 15px;
  position: relative;
  top: 20%;
  left: 30%;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  box-sizing: border-box;
  padding: 15px 0;
  line-height: 23px;
  overflow-y: hidden;
}

.reservation-review__update-title button {
  width: 70px;
  font-size: 25px;
  margin-left: 5px;
}

.reservation-review__modal-main {
  padding: 25px 30px;
  display: flex;
}

.reservation-review__modal-main-left {
  flex: 1;
}

.reservation-review__modal-main-right {
  height: 500px;
  flex: 2;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.reservation-review__score-all-modal {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.reservation-review__score-sub-modal {
  display: flex;
  flex-direction: column;
}

.reservation-review__sub-box-modal {
  display: flex;
}

.reservation-review__sub-box-left-modal {
  flex: 1;
  display: flex;
  justify-content: left;
  padding: 5px;
  font-size: 14px;
}

.reservation-review__sub-box-right-modal {
  flex: 2;
  display: flex;
  justify-content: right;
  margin-top: 5px;
}

.reservation-review__sub-box-right-bar-modal {
  padding: 5px;
}

.reservation-review__sub-box-right-score-modal {
  font-size: 12px;
  font-weight: bold;
}

.reservation-review__review-modal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-bottom: 20px;
}

.reservation-review__review-guest-modal {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  text-align: left;
}

.reservation-review__progressbar {
  display: block;
  width: 100px;
  height: 4px;
  background-color: #dddddd;
  border-radius: 10px;
  margin: 3px;
}

.reservation-review__gauge {
  display: block;
  height: 4px;
  background-color: black;
  border-radius: 10px;
}

.reservation-review__review-hr {
  height: 1px;
  background-color: #dbdbdb;
  border: none;
  margin: 15px 0;
}