.review-form__main {
  margin: 55px 220px;
}

.review-form__score-part {
  margin-bottom: 45px;
}

.review-form__score-context {
  margin-bottom: 60px;
}

.review-form__text-main {
  color: #484848;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-form__text-part {
  color: #535353;
  font-size: 15px;
  margin-bottom: 15px;
}

.review-form__star-part-each {
  background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
  background-size: auto 100%;
  width: 25px;
  height: 25px;
  display: inline-block;
  text-indent: -9999px;
  cursor: pointer;
}

.review-form__star-part-each.on {
  background-position: 0 0;
}

.review-form__score-part-text {
  color: #414141;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.review-form__star-part {
  color: #414141;
  font-size: 25px;
  margin-bottom: 10px;
}

.review-form__textarea {
  width: 700px;
  height: 100px;
  border-radius: 10px;
}

.review-form__move {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.review-form__move-back {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.review-form__back {
  margin-right: 5px;
}

.review-form__move a {
  color: black;
}

.review-form__move a:hover {
  color: black;
  text-decoration: underline;
}

.review-form__move button {
  text-align: center;
  margin-right: 350px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #dbdbdb;
  border-radius: 10px;
  border-style: none;
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.review-form__move button:hover {
  text-align: center;
  margin-right: 350px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #000000;
  border-radius: 10px;
  border-style: none;
  width: 80px;
  height: 50px;
  cursor: pointer;
}
