<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/performance/income.css}"/>
</th:block>
<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/performance/income.js}"></script>
</th:block>
<th:block layout:fragment="content">
  <section>
    <div class="performance__container">

      <div class="menu-container">
        <div class="performance__sub-menu-container">
          <div class="performance__sub1"><a th:href="@{/host/performance/income}" class="performance__a">수입</a></div>
          <div class="performance__sub2"><a th:href="@{/host/performance/views}" class="performance__a">조회수</a></div>
          <div class="performance__sub3"><a th:href="@{/host/performance/super-host}" class="performance__a">슈퍼호스트</a></div>
          <div class="performance__sub4"><a th:href="@{/host/performance/review}" class="performance__a">후기관리</a></div>
        </div>
      </div>
      <div class="performance__income-container">

        <select class="performance__income-date-select">
          <option value="">기간 선택</option>
          <option value="2021년">2021년</option>
          <!--          여유있으면 셀렉터로 연도 선택해서 값 가져오기 구현-->
          <option value="2021년">2020년</option>
          <option value="2021년">2019년</option>
        </select>

        <div class="performance__expected-income-year"><span th:text="${yearlyIncome}"></span>원</div>
        <div class="performance__expected-income-year-detail">2021 총 수입</div><!-- 여유있으면 지급예정/지급완료로 나누기 -->

        <div class="performance__chart-container">
          <div style="width:800px">
            <canvas id="myChart"></canvas>

            <th:block th:each="monthlyIncome: ${incomeList}">
              <input type="hidden" class="monthly-income-js" th:value="${monthlyIncome}"/>
            </th:block>


          </div>
        </div>

      </div>
    </div>
  </section>
</th:block>
</html>