<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/performance/income.css}" />
</div>
<div layout:fragment="js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript" defer th:src="@{/js/performance/income.js}"></script>

</div>
<div layout:fragment="content">
  <section>
    <div class="container">
      <div class="menu_container">
        <div class="main_menu_container">실적</div>
        <div class="sub-menu-container">
          <div class="sub1"><a href="./income" class="sub_a1">수입</a></div>
          <div class="sub2"><a href="주소" class="sub_a2">조회수</a></div>
          <div class="sub3"><a href="./super-host" class="sub_a3">슈퍼호스트</a></div>
          <div class="sub4"><a href="주소" class="sub_a4">후기관리</a></div>
        </div>
      </div>
      <div class="chart_container">
        <div style="width:800px">

          <canvas id="myChart"></canvas>
        </div>

      </div>
    </div>
  </section>
</div>
</html>