<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/performance/views.css}"/>
</div>
<div layout:fragment="js">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script type="text/javascript" defer th:src="@{/js/performance/views.js}"></script>

</div>
<div layout:fragment="content">
  <section>


    <div class="performance__container">

      <div class="menu-container">
        <div class="performance__sub-menu-container">
          <div class="performance__sub1"><a href="./income" class="performance__a">수입</a></div>
          <div class="performance__sub2"><a href="./views" class="performance__a">조회수</a></div>
          <div class="performance__sub3"><a href="./super-host" class="performance__a">슈퍼호스트</a></div>
          <div class="performance__sub4"><a href="#" class="performance__a">후기관리</a></div>
        </div>
      </div>

      <div class="performance__views-container">

        <div class="performance__views-detail-container">
          <div class="performance__views-datail">
            <div class="performance__views-datail-big"><span th:text="${readCount}"></span></div>
            <div class="performance__views-datail-small">지난 30일간 조회수</div>
          </div>
          <div class="performance__views-datail">
            <div class="performance__views-datail-big"><span th:text="${reservationMonthlyCount}"></span></div>
            <div class="performance__views-datail-small">지난 30일간 받은 새 예약</div>
          </div>
          <div class="performance__views-datail">
            <div class="performance__views-datail-big"><span th:text="${reservationRatio}"></span>%</div>
            <div class="performance__views-datail-small">예약률</div>
          </div>
        </div>

        <div class="performance__views-chart-container">
          <div style="width:800px">
            <canvas id="viewsChart"></canvas>
            <th:block th:each="hits: ${hitsList}">
              <input type="hidden" class="weekly-hits-js" th:value="${hits}"/>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</html>