.footer__container {
  height: 200px;
  background-color: #F7F7F7;
  border-top: 1px solid #DDDDDD;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 32px;
  margin-top: 150px;
}