.guest-header__hide {
  height: var(--header-height);
}

.guest-header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  z-index: 10;
  color: rgb(34, 34, 34);
}

.guest-header__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px;
  height: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}

/* === logo === */
.guest-header__logo {
  display: flex;
  align-items: center;
  height: 100% !important;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--guest-color);
}

/* === search === */
.guest-header__finder-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border: 1px solid #DDDDDD;
  border-radius: 999px;
  margin-left: 5rem;
}

.guest-header__finder-btn:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 18%);
}

.guest-header__finder-btn > .guest-header__finder-text {
  font-weight: bold;
}

.guest-header__finder-btn > .guest-header__finder-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: white;
  background-color: var(--guest-color);
}

/* === search-expand === */
.guest-header__search-expand-container {
  display: none;
  flex: 1;
  margin: 0 5rem 0 10rem;
  height: 100%;
}

.guest-header__search-expand-container > form {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  height: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 999px;
}

.guest-header__search-expand-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  cursor: pointer;
}

.guest-header__search-expand-box:not(:last-of-type) {
  border-right: 1px solid #f2f2f2;
}

.guest-header__search-expand-box:hover {
  border-radius: 999px;
  background-color: #f2f2f2;
}

.guest-header__search-expand-box:hover #search-location {
  background-color: #f2f2f2;
}

.guest-header__search-expand-box span:nth-of-type(1) {
  font-size: 0.6rem;
  font-weight: bold;
}

.guest-header__search-expand-box span:nth-of-type(2) {
  font-size: 0.8rem;
  color: #717171;
  font-weight: bold;
}

#search-location {
  padding-right: 1rem;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: bold;
  color: #717171;
  background-color: transparent;
}

#search-location:focus {
  border: none !important;
  outline: none !important;
}

.guest-header__search-expand-box.guest-header__search-people-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.guest-header__search-people-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guest-header__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: white;
  background-color: var(--guest-color);
}

/* === menu === */
.guest-header__member-container {
  display: flex;
}

.guest-header__member-container > a {
  margin-right: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 999px;
}

.guest-header__member-container > a:hover {
  background-color: #f2f2f2;
}