.guest-header__hide {
  height: var(--header-height);
}

.guest-header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  z-index: 10;
  color: rgb(34, 34, 34);
}

.guest-header__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px;
  height: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}

/* === logo === */
.guest-header__logo {
  display: flex;
  align-items: center;
  height: 100% !important;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--guest-color);
}

/* === search === */
.guest-header__finder-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  border: 1px solid #DDDDDD;
  border-radius: 999px;
  margin-left: 5rem;
}

.guest-header__finder-btn > .guest-header__finder-text {
  font-weight: bold;
}

.guest-header__finder-btn > .guest-header__finder-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: white;
  background-color: var(--guest-color);
}

/* === search-expand === */
.guest-header__search-expand-container {
  display: none;
  flex: 1;
  margin: 0 5rem 0 10rem;
  height: 100%;
}

.guest-header__search-expand-container > form {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  height: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 999px;
}

.guest-header__search-expand-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  cursor: pointer;
}

.guest-header__search-expand-box:not(:last-of-type) {
  border-right: 1px solid #f2f2f2;
}

.guest-header__search-expand-box:hover {
  border-radius: 999px;
  background-color: #f2f2f2;
}

.guest-header__search-expand-box:hover #search-location {
  background-color: #f2f2f2;
}

.guest-header__search-expand-box span:nth-of-type(1) {
  font-size: 0.6rem;
  font-weight: bold;
}

.guest-header__search-expand-box span:nth-of-type(2) {
  font-size: 0.8rem;
  color: #717171;
  font-weight: bold;
}

#search-location {
  font-size: 0.8rem;
  font-weight: bold;
  color: #717171;
  border: none;
  outline: none;
}

#search-location:focus {
  border: none !important;
  outline: none !important;
}

.guest-header__search-expand-box.guest-header__search-people-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.guest-header__search-people-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guest-header__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 0.9rem;
  color: white;
  background-color: var(--guest-color);
}

/*menu*/
.guest-header__member-container {
  display: flex;
}

.guest-header__member-container > a {
  margin-right: 1rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 999px;
}

.guest-header__member-container > a:hover {
  background-color: #f2f2f2;
}


/*=========================*/

/*.header__menu-container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*  width: 1360px;*/
/*  margin: 0 auto;*/
/*}*/

/*.header__logo-container {*/
/*  color: #ff2b43;*/
/*  font-weight: bold;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  font-size: 1.5rem;*/
/*}*/

/*!*검색*!*/

/*.header__finder {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  border: 1px solid #c2c2c2;*/
/*  background-color: #ffffff;*/
/*  border-radius: 30px;*/
/*  padding: 0.2rem 0.5rem;*/
/*  align-items: center;*/
/*  width: 300px;*/
/*}*/

/*.header__finder:hover {*/
/*  box-shadow: 5px 5px 10px grey;*/
/*}*/

/*.header__finder-text {*/
/*  font-weight: bold;*/
/*  color: black;*/
/*  flex: 1 1 auto;*/
/*  height: calc(100% + 3rem);*/
/*  border: none;*/
/*  background-color: transparent;*/
/*  outline: none;*/
/*  font-size: 1rem;*/
/*  letter-spacing: 0.75px;*/
/*  padding: 0 16px;*/
/*  text-align: left;*/
/*}*/

/*.header__finder-icon {*/
/*  margin-left: auto;*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  transition: all 0.2s;*/
/*  box-shadow: inset 0 0 0 20px #ff2b43;*/
/*  border-radius: 50%;*/
/*  position: relative;*/

/*}*/

/*.header__finder-icon:after,*/
/*.header__finder-icon:before {*/
/*  display: block;*/
/*  content: "";*/
/*  position: absolute;*/
/*  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
/*}*/

/*.header__finder-icon:after {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  background-color: #ff2b43;*/
/*  border: 3px solid #f6f5f0;*/
/*  top: 50%;*/
/*  position: absolute;*/
/*  transform: translateY(-50%);*/
/*  left: 0;*/
/*  right: 0;*/
/*  margin: auto;*/
/*  border-radius: 50%;*/
/*}*/

/*.header__finder-icon:before {*/
/*  width: 4px;*/
/*  height: 13px;*/
/*  background-color: #ffffff;*/
/*  top: 50%;*/
/*  left: 20px;*/
/*  transform: rotateZ(45deg) translate(-50%, 0);*/
/*  transform-origin: 0 0;*/
/*  border-radius: 4px;*/
/*}*/

/*.header__member-container {*/
/*  display: flex;*/
/*}*/

/*.header__member-container > a {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  padding: 1rem 2rem;*/
/*  border-radius: 999px;*/
/*  font-weight: bold;*/
/*  font-size: 0.9rem;*/
/*}*/

/*.header__member-container > a:hover {*/
/*  background-color: #f2f2f2;*/
/*}*/

/*.header__login-container {*/
/*  font-weight: bold;*/
/*  font-size: 20px;*/
/*}*/


/*!* 검색 확장 *!*/
/*.header__search-expand-container {*/
/*  flex: 1;*/
/*  display: none;*/
/*  height: 100%;*/
/*  padding: 0.5rem 0;*/
/*  margin-left: 2rem;*/
/*}*/

/*.header__search-expand > form {*/
/*  display: block;*/
/*  height: 100%;*/
/*}*/

/*.header__search-expand-content {*/
/*  height: 100%;*/
/*  border: 1px solid #dddddd;*/
/*  border-radius: 999px;*/
/*}*/

/*.header__search-keyword-box {*/
/*  display: flex;*/
/*}*/

/*.header__search-keyword-box > div {*/
/*  display: flex;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  padding: 0.5rem 1rem;*/
/*  border-radius: 999px;*/
/*}*/

/*.header__search-keyword-box > div > div {*/
/*  border-right: 1px solid #dddddd;*/
/*}*/

/*.header__search-keyword-box > div:hover {*/
/*  background-color: #f2f2f2;*/
/*}*/

/*.header__search-box {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  border-radius: 40px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  cursor: pointer;*/
/*}*/


/*.header__search-inner {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

/*.header__search-content {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-around;*/
/*}*/

/*.header__search-input {*/
/*  border: none;*/
/*  background-color: transparent;*/
/*  font-weight: bold;*/
/*}*/

/*.header__search-input:focus {*/
/*  outline: none;*/
/*}*/

/*.header__search-content > div:nth-of-type(1) {*/
/*  font-size: 13px;*/
/*  font-weight: bold;*/
/*}*/

/*.header__search-content > div:nth-of-type(2) {*/
/*  margin-top: 7px;*/
/*  color: #888888;*/
/*}*/

/*.header__search-guest-number {*/
/*  width: 50%;*/
/*  display: inline;*/
/*  white-space: nowrap;*/
/*  text-overflow: ellipsis;*/
/*  word-break: normal;*/
/*}*/

/*.header__search-icon-container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: center;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.header__search-icon {*/
/*  padding: 1rem;*/
/*  border-radius: 50%;*/
/*  background-color: #ff2b43;*/
/*}*/

/*.fa-search {*/
/*  color: white;*/
/*}*/


