.host-header__hide {
  height: var(--header-height);
}

.host-header__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
  z-index: 10;
  color: rgb(34, 34, 34);
}

.host-header__container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px;
  height: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}

.host-header__wrap {
  display: flex;
  height: 100%;
}

.host-header__logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--host-color) !important;
}

.host-header__menu {
  display: flex;
  margin-left: 2rem;
}

.host-header__menu > li {
  height: 100%;
}

.host-header__menu > li:not(:last-of-type) {
  margin-right: 2rem;
}

.host-header__menu > li > a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(113, 113, 113);
}

.host-header__menu > li > a::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  transition: 0.5s width;
  background-color: rgb(34, 34, 34);
}

.host-header__menu > li > a:hover::after {
  width: 100%;
}

.host-header__room-register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  color: rgb(34, 34, 34);
  font-size: 0.9rem;
  font-weight: bold;
}

.host-header__room-register:hover {
  border-radius: 999px;
  background-color: #f2f2f2;
}