<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/review/guest-review-about.css}"/>
</th:block>

<th:block layout:fragment="content">
  <div class="g-review-about__main">
    <div>
      <section>
        <div class="g-review-about__main-top">
          <nav>
          <span>
            <a th:href="@{|/member/profile/${session.member.getMemberId()}|}">프로필</a>
          </span>
            <span> > </span>
            <span> 후기 </span>
          </nav>
          <div class="g-review-about__title">내가 작성한 후기</div>
        </div>
      </section>
    </div>
    <div class="g-review-about__tabs">
      <a href="#">나에 대한 후기</a>
      <a th:href="@{/review/guest-by}">내가 작성한 후기</a>
    </div>
    <div class="g-review-about__container">
      <div class="g-review-about__panel">
        <div class="g-review-about__panel-header">지난 후기</div>
        <div class="g-review-about__panel-body">
          후기는 에어비앤비 숙박이 완료된 후 작성됩니다. 나에 대한 후기는 이곳과 공개 프로필에서 볼 수 있습니다.
          <th:block th:each="review : ${reviewHostList}">
          <div class="g-review-about__panel-body-container">
            <div class="g-review-about__panel-body-left">
              <div class="g-review-about__profile-box">
                <a href="#">
                  <img class="g-review-about__profile-img" th:src="${review.getGuestProfileImg()}">
                </a>
              </div>
              <a class="g-review-about__profile-name" href="#" th:text="${review.getGuestName()}"></a>
            </div>
            <div class="g-review-about__panel-body-right">
              <div class="g-review-about__panel-body-p-comment" th:text="${review.getReviewContent()}"></div>
              <div class="g-review-about__panel-body-p-date" th:text="${#temporals.format(review.getReviewRegDate(),'yyyy년 M월')}"></div>
            </div>
          </div>
          <hr class="g-review-about__hr">
          </th:block>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>