<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/performance/views.css}"/>
  <link rel="stylesheet" th:href="@{/css/review/host-review.css}"/>
  <link rel="stylesheet" th:href="@{/css/review/review-form.css}"/>

</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/review/review.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <div class="performance__container">
    <div class="menu-container">
      <div class="performance__sub-menu-container">
        <div class="performance__sub1"><a th:href="@{/performance/income}" class="performance__a">수입</a></div>
        <div class="performance__sub2"><a th:href="@{/performance/views}" class="performance__a">조회수</a></div>
        <div class="performance__sub3"><a th:href="@{/performance/super-host}" class="performance__a">슈퍼호스트</a></div>
        <div class="performance__sub4"><a th:href="@{/review/host-review}" class="performance__a">후기관리</a></div>
      </div>
    </div>
  </div>
  <div class="host-review__main">
    <div>
      <div class="host-review__score-group">
        <button>모두</button>
        <button id="host-review__scoreFive">5★</button>
        <button id="host-review__scoreFour">4★</button>
        <button id="host-review__scoreThree">3★</button>
        <button id="host-review__scoreTwo">2★</button>
        <button id="host-review__scoreOne">1★</button>
      </div>
    </div>
    <div class="host-review__review">
      <div class="host-review__review-left">
        <div class="host-review__review-panel">
          <th:block th:each="review : ${reviewHostList}">
            <div class="host-review__review-panel-guest">
              <div class="host-review__review-panel-guest-text">
                <div class="host-review__review-panel-guest-text-name" th:text="${review.getGuestName()}"></div>
                <span class="host-review__review-panel-guest-text-info"
                      th:text="${#temporals.format(review.getCheckIn(),'M월 dd일')}"></span> ~
                <span class="host-review__review-panel-guest-text-info"
                      th:text="${#temporals.format(review.getCheckOut(),'yyyy년 M월 dd일 ')}"></span> .
                <span class="host-review__review-panel-guest-text-info" th:text="${review.getTitle()}"></span>
              </div>
              <div class="host-review__review-panel-guest-img">
                <div class="host-review__review-panel-guest-profile-box">
                  <img class="host-review__review-panel-guest-profile-img"
                       th:src="${review.getGuestProfileImg()}">
                </div>
              </div>
            </div>
            <div>
              <span class="host-review__review-panel-score-title">전체 평점</span>
              <th:block th:switch="${review.getScore()}">
                <span th:case="1">⭐</span>
                <span th:case="2">⭐⭐</span>
                <span th:case="3">⭐⭐⭐</span>
                <span th:case="4">⭐⭐⭐⭐</span>
                <span th:case="5">⭐⭐⭐⭐⭐</span>
              </th:block>
              <div class="host-review__review-panel-score-content" th:text="${review.getReviewContent()}">
              </div>
              <a th:href="@{/review/guest-about}">
                <div class="host-review__review-panel-score-check">답글 쓰기</div>
              </a>
            </div>
            <hr class="host-review__review-hr">
          </th:block>
        </div>

      </div>
      <div class="host-review__review-right">
        <div class="host-review__review-right-left">
          <div class="host-review__review-right-left-body">
            <div class="host-review__review-right-num" th:text="${reviewScore}"></div>
            <div>⭐</div>
          </div>
          <div class="host-review__review-right-text">전체 평점</div>
        </div>
        <div class="host-review__review-right-right">
          <div class="host-review__review-right-num" th:text="${reviewCount}"></div>
          <div class="host-review__review-right-text">총 후기 수</div>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>