<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
  <meta charset="UTF-8">
</head>

<th:block layout:fragment="css">
  <link rel="stylesheet" href="../../static/css/review/reservation-review.css"
        th:href="@{/css/review/reservation-review.css}"/>
</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/review/review.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <div class="reservation-review__main">
    <div class="reservation-review__score-all">
      <div class="reservation-review__star">
        <img th:src="@{/images/wishlist/star.JPG}"/>
      </div>
      <div>
        <span th:text="${reviewScore}"></span>
        <span>점(후기 </span>
        <span th:text="${reviewCount}"></span>
        <span>개)</span>
      </div>
    </div>
    <div class="reservation-review__score-sub">
      <div class="reservation-review__sub-box">
        <div class="reservation-review__sub-box-left">청결도</div>
        <div class="reservation-review__sub-box-right">
          <div class="reservation-review__sub-box-right-bar">
            <span class="reservation-review__progressbar">
              <span class="reservation-review__gauge" th:per="${reviewScoreClean}*100/5.0"></span>
            </span>
          </div>
          <div class="reservation-review__sub-box-right-score" th:text="${reviewScoreClean}"></div>
        </div>
      </div>
      <div class="reservation-review__sub-box">
        <div class="reservation-review__sub-box-left">위치</div>
        <div class="reservation-review__sub-box-right">
          <div class="reservation-review__sub-box-right-bar">
            <span class="reservation-review__progressbar">
              <span class="reservation-review__gauge" th:per="${reviewScoreLocation}*100/5.0"></span>
            </span>
          </div>
          <div class="reservation-review__sub-box-right-score" th:text="${reviewScoreLocation}"></div>
        </div>
      </div>
      <div class="reservation-review__sub-box">
        <div class="reservation-review__sub-box-left">서비스</div>
        <div class="reservation-review__sub-box-right">
          <div class="reservation-review__sub-box-right-bar">
            <span class="reservation-review__progressbar">
              <span class="reservation-review__gauge" th:per="${reviewScoreService}*100/5.0"></span>
            </span>
          </div>
          <div class="reservation-review__sub-box-right-score" th:text="${reviewScoreService}"></div>
        </div>
      </div>
    </div>
    <div class="reservation-review__review">
      <th:block th:each="review : ${reviewReservationList}">
        <div class="reservation-review__review-guest">
          <div class="reservation-review__review-profile">
            <div class="reservation-review__review-profile-box">
              <img class="reservation-review__review-profile-box-img"
                   th:src="${review.getGuestProfileImg()}">
            </div>
            <div class="reservation-review__review-profile-text">
              <div class="reservation-review__review-profile-text-name" th:text="${review.getGuestName()}"></div>
              <div class="reservation-review__review-profile-text-info"
                   th:text="${#temporals.format(review.getReviewRegDate(),'yyyy년 M월')}"></div>
            </div>
          </div>
          <div class="reservation-review__review-text" th:text="${review.getReviewContent()}"></div>
        </div>
      </th:block>
    </div>
    <div class="reservation-review__review-all">
      <button>
        <span>후기 </span>
        <span th:text="${reviewCount}"></span>
        <span>개 모두 보기</span>
      </button>
    </div>

    <!-- 모달창 -->
    <div class="reservation-review__modal">
      <div class="reservation-review__modal-content">
        <div class="reservation-review__update-title">
          <button>x</button>
        </div>
        <div class="reservation-review__modal-main">
          <div class="reservation-review__modal-main-left">
            <div class="reservation-review__score-all-modal">
              <div class="reservation-review__star">
                <img th:src="@{/images/wishlist/star.JPG}"/>
              </div>
              <div>
                <span th:text="${reviewScore}"></span>
                <span>점(후기 </span>
                <span th:text="${reviewCount}"></span>
                <span>개)</span>
              </div>
            </div>
            <div class="reservation-review__score-sub-modal">
              <div class="reservation-review__sub-box-modal">
                <div class="reservation-review__sub-box-left-modal">청결도</div>
                <div class="reservation-review__sub-box-right-modal">
                  <div class="reservation-review__sub-box-right-bar-modal">
                    <span class="reservation-review__progressbar">
                      <span class="reservation-review__gauge" th:per="${reviewScoreClean}*100/5.0"></span>
                    </span>
                  </div>
                  <div class="reservation-review__sub-box-right-score-modal" th:text="${reviewScoreClean}"></div>
                </div>
              </div>
              <div class="reservation-review__sub-box-modal">
                <div class="reservation-review__sub-box-left-modal">위치</div>
                <div class="reservation-review__sub-box-right-modal">
                  <div class="reservation-review__sub-box-right-bar-modal">
                    <span class="reservation-review__progressbar">
                      <span class="reservation-review__gauge" th:per="${reviewScoreLocation}*100/5.0"></span>
                    </span>
                  </div>
                  <div class="reservation-review__sub-box-right-score-modal" th:text="${reviewScoreLocation}"></div>
                </div>
              </div>
              <div class="reservation-review__sub-box-modal">
                <div class="reservation-review__sub-box-left-modal">서비스</div>
                <div class="reservation-review__sub-box-right-modal">
                  <div class="reservation-review__sub-box-right-bar-modal">
                    <span class="reservation-review__progressbar">
                      <span class="reservation-review__gauge" th:per="${reviewScoreService}*100/5.0"></span>
                    </span>
                  </div>
                  <div class="reservation-review__sub-box-right-score-modal" th:text="${reviewScoreService}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="reservation-review__modal-main-right">
            <div class="reservation-review__review-modal">
              <div class="reservation-review__review-guest-modal">
                <th:block th:each="review : ${reviewHostList}">
                  <div class="reservation-review__review-profile">
                    <div class="reservation-review__review-profile-box">
                      <img class="reservation-review__review-profile-box-img"
                           th:src="${review.getGuestProfileImg()}">
                    </div>
                    <div class="reservation-review__review-profile-text">
                      <div class="reservation-review__review-profile-text-name"
                           th:text="${review.getGuestName()}"></div>
                      <div class="reservation-review__review-profile-text-info"
                           th:text="${#temporals.format(review.getReviewRegDate(),'yyyy년 M월')}"></div>
                    </div>
                  </div>
                  <div class="reservation-review__review-text" th:text="${review.getReviewContent()}"></div>
                  <hr class="reservation-review__review-hr">
                </th:block>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</th:block>

</html>