<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/review/review-form.css}"/>
</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/review/review.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <form th:action="@{/review/update-form}" method="post">
    <input type="hidden" name="reviewId" th:value="${reviewId}">
    <div class="review-form__main">
      <div class="review-form__score-part">
        <div>
          <div class="review-form__text-main">호스트 []님의 숙소를 평가해주세요.</div>
          <div class="review-form__text-part">후기 여러 건을 총체적으로 취합한 정보가 sixuniverse에 전달됩니다.</div>
        </div>
        <div>
          <div>
            <div class="review-form__score-part-text">청결도</div>
            <div class="review-form__star-part-clean">
              <span class="review-form__star-part-each" th:data-clean="1"></span>
              <span class="review-form__star-part-each" th:data-clean="2"></span>
              <span class="review-form__star-part-each" th:data-clean="3"></span>
              <span class="review-form__star-part-each" th:data-clean="4"></span>
              <span class="review-form__star-part-each" th:data-clean="5"></span>
              <input type="hidden" class="star-clean-js" name="scoreClean">
            </div>
          </div>
          <div>
            <div class="review-form__score-part-text">위치</div>
            <div class="review-form__star-part-location">
              <span class="review-form__star-part-each" th:data-location="1"></span>
              <span class="review-form__star-part-each" th:data-location="2"></span>
              <span class="review-form__star-part-each" th:data-location="3"></span>
              <span class="review-form__star-part-each" th:data-location="4"></span>
              <span class="review-form__star-part-each" th:data-location="5"></span>
              <input type="hidden" class="star-location-js" name="scoreLocation">
            </div>
          </div>
          <div>
            <div class="review-form__score-part-text">서비스</div>
            <div class="review-form__star-part-service">
              <span class="review-form__star-part-each" th:data-service="1"></span>
              <span class="review-form__star-part-each" th:data-service="2"></span>
              <span class="review-form__star-part-each" th:data-service="3"></span>
              <span class="review-form__star-part-each" th:data-service="4"></span>
              <span class="review-form__star-part-each" th:data-service="5"></span>
              <input type="hidden" class="star-service-js" name="scoreService">
            </div>
          </div>
        </div>
      </div>
      <div class="review-form__score-context">
        <div>
          <div class="review-form__text-main">후기 작성하기</div>
          <div class="review-form__text-part">[]님의 숙소에 관해 다른 게스트가 참고할 점을 알려주세요.</div>
        </div>
        <div>
          <textarea class="review-form__textarea" name="reviewContent"
                    th:text="${getReview.getReviewContent()}"></textarea>
        </div>
      </div>
      <div class="review-form__move">
        <div class="review-form__move-back">
          <div class="review-form__back"> <</div>
          <a href="#">
            <div>뒤로</div>
          </a>
        </div>
        <div>
          <button type="submit" class="review-form__ok">수정</button>
        </div>
      </div>
    </div>
  </form>
</th:block>
</html>