@charset "UTF-8";

.performance__container {
    margin: auto 0;
    display: flex;
    position: relative;
    flex-direction: column;
}

.performance__sub-menu-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    border-bottom-color: #999999;
    border-bottom: 1px solid;
}

.performance__sub3 {
}

.performance__sub1, .performance__sub2, .performance__sub3, .performance__sub4 {
    margin: 20px;
    margin-right: 24px;
    display: inline-block;
}

.performance__a {
    color: inherit;
    text-decoration: none;
}

/*공통*/

.performance__income-container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.performance__income-date-select {
    width: 500px;
    font-size: 20px;
    margin-bottom: 30px;
}

.performance__expected-income-year {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.performance__expected-income-year-detail {
    margin-bottom: 30px;
}

.performance__chart-container {

}

.chart-container {

}