@charset "UTF-8";


.container{
  margin: auto 0;
  display: flex;
  position:relative;
  flex-direction: column;

}
.main-menu-container{
  margin: 20px;
  display:flex;
  font-size: 30px;
  font-weight: bold;
  flex-direction: row;
}

.sub-menu-container{
  padding-bottom: 30px;
  margin-bottom: -30px ;
  display:flex;
  flex-direction: row;
}

.sub1, .sub2, .sub3,.sub4{
  margin: 20px;
  margin-right: 24px;
  display: inline-block ;
}

a{
  color: inherit;
  text-decoration: none;
}

.super-host-container{
  display:flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
  margin: 50px;
}

.super-subject{
  margin:30px;
  font-size: 20px;
  font-weight: bold;
}

.super-date{
  margin: 20px;
  margin-right: 24px;
  display:flex;
  flex-direction: row;
}
.date{
  color: rgb(34,34,34);
  border-radius: 8px;
  box-shadow: rgb(176, 176, 176) 0px 0px 0px 1px inset;
  font-size: 16px ;
  line-height: 20px ;
  font-weight: 400 ;
}
.super-result-container{
  display: flex;
  flex-direction: row;
}
.super-result1,.super-result2,.super-result3,.super-result4{
  background-color: white;
  border: 1px solid rgb(235, 235, 235);
  margin:20px;
  width:100%;
  height: 200px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.result3-3{
  display: flex;
  vertical-align: middle;

  align-items: center;
  /*   헉헉 이거당 */
}