<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/cancel.css}">
</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/reservation/guest/cancel.js}"></script>
</th:block>


<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<th:block layout:fragment="content">
  <div class="guest-reservation-cancel__box">
    <div class="guest-reservation-cancel__box2">
      <div class="guest-reservation-cancel__content">
        <div class="guest-reservation-cancel__title">이 내용이 맞나요?</div>

        <div class="guest-reservation-cancel__small-box">

          <div class="guest-reservation-cancel__sub-title-box">
            <div class="guest-reservation-cancel__sub-title-content">
              <div class="guest-reservation-cancel__sub-title">1박당 요금</div>
              <div>요금 얼마</div>
            </div>
            <div>전액이냐 50%냐</div>
          </div>

          <div class="guest-reservation-cancel__sub-title-box">
            <div class="guest-reservation-cancel__sub-title-content">
              <div class="guest-reservation-cancel__sub-title">수수료</div>
              <div>요금 얼마</div>
            </div>
            <div>전액이냐 50%냐</div>
          </div>

          <div class="guest-reservation-cancel__sub-title-box">
            <div class="guest-reservation-cancel__sub-title-content">
              <div class="guest-reservation-cancel__sub-title">쿠폰</div>
              <div>요금 얼마</div>
            </div>
            <div>전액이냐 50%냐</div>
          </div>

          <div class="guest-reservation-cancel__sub-title-box">
            <div class="guest-reservation-cancel__sub-title-content">
              <div class="guest-reservation-cancel__sub-title">마일리지</div>
              <div>요금 얼마</div>
            </div>
            <div>전액이냐 50%냐</div>
          </div>

          <div>
            <div class="guest-reservation-cancel__sub-title-content">
              <div class="guest-reservation-cancel__sub-title">총 환불 금액</div>
              <div>요금 얼마</div>
            </div>
          </div>

        </div>

        <div class="guest-reservation-cancel__btn">
          <button class="guest-reservation-cancel__next-btn">계속</button>
        </div>


      </div>


      <div class="guest-reservation-cancel__reservation-box">
        <div class="guest-reservation-cancel__room-info">
          <div class="guest-reservation-cancel__room-address">숙소주소</div>
          <div>숙소사진</div>
        </div>
        <div class="guest-reservation-cancel__info-align">
          <i class="fas fa-user-friends"></i>
          <div class="guest-reservation-cancel__content">
            <span>인원 몇 명</span>
          </div>
        </div>
        <div class="guest-reservation-cancel__info-align">
          <i class="far fa-calendar-alt"></i>
          <div class="guest-reservation-cancel__content">
            <span>예약날짜</span>
          </div>
        </div>
        <div class="guest-reservation-cancel__price-info">
          <div class="guest-reservation-cancel__info-align2">
            <span class="guest-reservation-cancel__price-title">변경 전 총 예약금</span>
            <div class="guest-reservation-cancel__info-content">
              <span>￦ 111111</span>
            </div>
          </div>
          <div class="guest-reservation-cancel__info-align">
            <span class="guest-reservation-cancel__total-refund">총 환불금액</span>
            <div class="guest-reservation-cancel__info-content">
              <span>￦ 111111</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</th:block>
</body>
</html>