<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/cancel.css}">
</th:block>

<th:block layout:fragment="content">
  <div class="guest-reservation-cancel__box">
    <div class="guest-reservation-cancel__box2">
      <div class="guest-reservation-cancel__content">
        <div class="guest-reservation-cancel__title">취소하려는 이유가 무엇인가요?</div>

        <form th:action="@{|/reservation/guest/cancel/confirm/${reservationRPDto.reservationId}|}" method="post">
          <div class="guest-reservation-cancel__small-box">
            <div class="guest-reservation-cancel__sub-title">이유를 선택하세요</div>

            <select name="reason" class="guest-reservation-cancel__cancel-reason">
              <option>숙소가 필요없어졌어요</option>
              <option>실수로 예약했어요</option>
              <option>호스트가 예약 취소를 원해요</option>
              <option>호스트가 맘에 들지 않아요</option>
              <option>여행 날짜가 변경되었어요</option>
              <option>기타</option>
            </select>

          </div>

          <div class="guest-reservation-cancel__btn">
            <button type="submit" class="guest-reservation-cancel__next-btn">계속</button>
          </div>

        </form>

      </div>


      <div class="guest-reservation-cancel__reservation-box">
        <div class="guest-reservation-cancel__room-info">
          <div>
            <div class="guest-reservation-cancel__room-title" th:text="${reservationRPDto.title}">숙소이름</div>
            <div class="guest-reservation-cancel__room-address"
                 th:text="${reservationRPDto.address + reservationRPDto.subAddress}">숙소주소
            </div>
          </div>
          <div class="guest-reservation__room-img-box">
            <img th:src="${roomImages.get(0).roomImg}" class="guest-reservation-cancel__room-img">
          </div>
        </div>
        <div class="guest-reservation-cancel__info-align">
          <i class="fas fa-user-friends"></i>
          <div class="guest-reservation-cancel__content">
            <span
                th:text="|성인 : ${reservationRPDto.adult} 명, 아동 : ${reservationRPDto.kid} 명, 유아 : ${reservationRPDto.infant} 명|">인원 몇 명</span>
            <div class="guest-reservation-cancel__total-guest"
                 th:text="|총 인원 : ${reservationRPDto.adult + reservationRPDto.kid + reservationRPDto.infant} 명|"></div>
          </div>
        </div>
        <div class="guest-reservation-cancel__info-align">
          <i class="far fa-calendar-alt"></i>
          <div class="guest-reservation-cancel__content">
            <span th:text="${#temporals.format(reservationRPDto.checkIn,'yyyy년 M월 dd일 ')}">예약날짜</span> ~
            <span th:text="${#temporals.format(reservationRPDto.checkOut,'yyyy년 M월 dd일 ')}">예약날짜</span>
          </div>
        </div>
        <div class="guest-reservation-cancel__price-info">
          <div class="guest-reservation-cancel__info-align2">
            <span class="guest-reservation-cancel__price-title">결제한 금액</span>
            <div class="guest-reservation-cancel__info-content">
              <span th:text="'₩' + ${#numbers.formatInteger(reservationRPDto.price,3,'COMMA')}"> 111111</span>
            </div>
          </div>
          <div class="guest-reservation-cancel__info-align">
            <span class="guest-reservation-cancel__total-refund">총 환불금액 (수수료 제외)</span>
            <div class="guest-reservation-cancel__info-content">
              <span
                  th:text="'₩' + ${#numbers.formatInteger(reservationRPDto.price,3,'COMMA')}">￦ 111111</span>
            </div>
          </div>
        </div>


      </div>


    </div>
  </div>
</th:block>
</html>