<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/complete.css}">
</th:block>
<th:block layout:fragment="content">

  <div class="guest-reservation-complete__box">
    <div class="guest-reservation-complete__box2">
      <div class="guest-reservation-complete__content">
        <div class="guest-reservation-complete__title">예약이 확정되었습니다!</div>
        <div>메일로 세부정보를 보냈습니다.(이메일 전송 기능 미정)</div>

        <a th:href="@{/reservation/guest/list}">
          <div class="guest-reservation-complete__list">
            예약 목록으로 가기
          </div>
        </a>

        <div class="guest-reservation-complete__info-box">
          <div class="guest-reservation-complete__sub-title">알아두어야 할 사항</div>
          <div class="guest-reservation-complete__room-info">
            <div class="guest-reservation-complete__info-content">
              <div class="guest-reservation-complete__sub-title2">숙소 이용 규칙</div>
              <div><i class="far fa-clock"></i> 체크인 시간 <span th:text="${room.checkInTime}"></span>시 이후</div>
              <div><i class="fas fa-check"></i> 규칙List</div>
            </div>
            <div class="guest-reservation-complete__info-content">
              <div class="guest-reservation-complete__sub-title2">안전 및 숙소 정보</div>
              <div><i class="fas fa-question-circle"></i>일산화탄소 경보기 설치 여부</div>
              <div><i class="fas fa-question-circle"></i>화재경보기 설치 여부</div>
            </div>
          </div>
        </div>
      </div>


      <div class="guest-reservation-complete__reservation-box">
        <div class="guest-reservation-complete__room-info-img">
          <img th:src="${roomImages.get(0).roomImg}">
        </div>
        <div class="guest-reservation-complete__reservation-content">
          <div class="guest-reservation-complete__reservation-info">
            <div class="guest-reservation-complete__room-name" th:text="${room.title}">숙소 제목</div>
            <div
                th:text="${#temporals.format(reservation.checkIn,'yyyy년 M월 dd일 (E)')} + ' ~ ' + ${#temporals.format(reservation.checkOut,'yyyy년 M월 dd일 (E)')}">
              예약날짜
            </div>
            <div th:text="'게스트 : ' + ${reservation.adult+ reservation.kid + reservation.infant} + '명'">인원</div>
            <div th:text="${room.address} + ' ' + ${room.subAddress}">주소</div>
          </div>
          <div class="guest-reservation-complete__align">
            <div>총 합계</div>
            <div th:text="'₩' + ${#numbers.formatInteger(payment.price,3,'COMMA')}">￦ 10000</div>
          </div>
          <div class="guest-reservation-complete__align">
            <div>예약 코드</div>
            <div th:text="${reservation.reservationId}">11111111</div>
          </div>
        </div>

      </div>

    </div>

  </div>

</th:block>
</html>