<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/detail-info.css}">
</th:block>

<th:block layout:fragment="js">
  <script defer th:src="@{/js/common/map.js}"></script>
  <script defer th:src="@{/js/reservation/guest/simple-info.js}"></script>
  <script defer th:src="@{/js/reservation/guest/cancel.js}"></script>
</th:block>
<th:block layout:fragment="content" class="guest-reservation-detail-info__box">
  <input type="hidden" th:value="${room.address}" class="room-address-value">
  <input type="hidden" th:value="${reservation.reservationId}" id="reservationId">
  <input type="hidden" th:value="${reservation.checkIn}" id="checkIn">

  <div class="guest-reservation-detail-info__box">

    <div class="guest-reservation-detail-info__content">
      <div class="guest-reservation-detail-info__detail-room-box">
        <div class="guest-reservation-detail-info__detail-room">
          <div class="guest-reservation-detail-info__detail-room-title">
            <a th:href="@{|/reservation/guest/simple-info/${reservation.reservationId}|}">
              <div class="guest-reservation-detail-info__close">
                <i class="fas fa-times"></i>
              </div>
            </a>
            <div class="guest-reservation-detail-info__title">
              <div class="guest-reservation-detail-info__title-content">숙소 예약</div>
            </div>
          </div>
          <div class="guest-reservation-detail-info__scroll">

            <div class="guest-reservation-detail-info__detail-room-content">
              <div class="guest-reservation-detail-info__detail-room-reservation-info">
                <div class="guest-reservation-detail-info__reservation-date"
                     th:text="${#temporals.format(reservation.checkIn,'yyyy년 M월 dd일 ')} + ' ~ ' + ${#temporals.format(reservation.checkOut,'yyyy년 M월 dd일 ')}">
                  예약날짜
                </div>
                <div class="guest-reservation-detail-info__room-owner"><span th:text="${member.getUsername()}"></span>
                  님의 숙소
                </div>
              </div>

              <div class="guest-reservation-detail-info__detail-room-info">
                <div class="guest-reservation-detail-info__room-img"><img th:src="${roomImageDtoList.get(0).roomImg}">
                </div>
                <div class="guest-reservation-detail-info__info-align">
                  <div class="guest-reservation-detail-info__room-name" th:text="${room.title}">숙소이름</div>
                  <!--                  <div class="guest-reservation-detail-info__margin">-->
                  <!--                    <i class="fas fa-comment-alt"></i><span>호스트에게 메시지 보내기</span><i class="fas fa-chevron-right"></i>-->
                  <!--                  </div>-->
                  <!--                  <div class="guest-reservation-detail-info__margin">-->
                  <!--                    <i class="fas fa-mobile-alt"></i><span>호스트에게 연락하기</span><i class="fas fa-chevron-right"></i></div>-->
                  <a th:if="${reservation.status.equals('upcoming') || reservation.status.equals('update-no')}"
                     th:href="@{|/reservation/guest/update/${reservation.reservationId}|}">
                    <div class="guest-reservation-detail-info__margin">
                      <i class="fas fa-pen"></i><span>예약 변경</span> <i class="fas fa-chevron-right"></i></div>
                  </a>

                  <div class="guest-reservation-detail-info__margin"
                       th:if="${reservation.status.equals('upcoming') || reservation.status.equals('update-no')}">
                    <div class="guest-reservation-detail-info__cancel">
                      <i class="far fa-window-close"></i><span>예약 취소</span> <i class="fas fa-chevron-right"></i>
                    </div>
                  </div>
                </div>

                <div class="guest-reservation-detail-info__detail-room-date">
                  <div class="guest-reservation-detail-info__check-in-out guest-reservation-detail-info__Y-line">
                    <div class="guest-reservation-detail-info__check-title">체크인</div>
                    <div class="guest-reservation-detail-info__check-reservation-date"
                         th:text="${#temporals.format(reservation.checkIn,'yyyy년 M월 dd일 (E)')}">
                      예약날짜
                    </div>
                    <div class="guest-reservation-detail-info__check-time" th:text="|${room.checkInTime} 시 이후|">체크인시간
                    </div>
                  </div>
                  <div class="guest-reservation-detail-info__check-in-out">
                    <div class="guest-reservation-detail-info__check-title">체크아웃</div>
                    <div class="guest-reservation-detail-info__check-reservation-date"
                         th:text="${#temporals.format(reservation.checkOut,'yyyy년 M월 dd일 (E)')}">예약날짜
                    </div>
                    <div class="guest-reservation-detail-info__check-time" th:text="|${room.checkOutTime} 시 이후|">
                      체크아웃시간
                    </div>
                  </div>
                </div>

                <div>
                  <div class="guest-reservation-detail-info__sub-title1">간략정보</div>
                  <div class="guest-reservation-detail-info__basic-info">
                    <div class="guest-reservation-detail-info__basic-info-content">
                      <div>호스트 : <span th:text="${member.username}"></span> 님</div>
                      <div>게스트 : <span
                          th:text="${reservation.adult} + ${reservation.kid} + ${reservation.infant}"></span> 명
                      </div>
                      <div>결제금액 :
                        <span th:text="'₩' + ${#numbers.formatInteger(payment.price,3,'COMMA')}">금액</span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>


              <div class="guest-reservation-detail-info__reservation-detail-info">
                <div class="guest-reservation-detail-info__guest-info">
                  <div class="guest-reservation-detail-info__sub-title2">게스트</div>
                  <div>
                    <span
                        th:text="|성인 : ${reservation.adult} 명, 아동 : ${reservation.kid} 명, 유아 : ${reservation.infant} 명|"
                    >인원 몇 명</span>
                    <div class="guest-reservation-detail-info__total-guest"
                         th:text="|총 인원 : ${reservation.adult + reservation.kid + reservation.infant} 명|"></div>
                  </div>
                </div>
                <div class="guest-reservation-detail-info__reservation-detail-info-number">
                  <div class="guest-reservation-detail-info__sub-title2">예약번호</div>
                  <div th:text="${reservation.reservationId}">111111</div>
                </div>
              </div>

              <div class="guest-reservation-detail-info__room-address-info">
                <div class="guest-reservation-detail-info__sub-title2">주소</div>
                <div th:text="${room.address} + ' ' + ${room.subAddress}">숙소 주소</div>
              </div>

              <div class="guest-reservation-detail-info__host-info">
                <div class="guest-reservation-detail-info__host-info-content">
                  <div class="guest-reservation-detail-info__host-content">
                    <div class="guest-reservation-detail-info__sub-title2">호스트 <span
                        th:text="${member.username}"></span></div>
                    <a th:href="@{|/member/profile/${member.memberId}|}">
                      <div class="guest-reservation-detail-info__host-profile">프로필 보기</div>
                    </a>
                  </div>
                  <div class="guest-reservation-detail-info__host-content">
                    <div class="guest-reservation-detail-info__host-profile-img">
                      <img th:if="${member.profileImg != null}" th:src="${member.profileImg}">
                    </div>
                  </div>
                </div>
                <a th:href="@{|/chat/${member.memberId}}">
                  <div class="guest-reservation-detail-info__margin">
                    <i class="fas fa-comment-alt"></i><span>호스트에게 메시지 보내기</span> <i class="fas fa-chevron-right"></i>
                  </div>
                </a>
              </div>

              <div class="guest-reservation-detail-info__payment-info">
                <div class="guest-reservation-detail-info__sub-title2">결제정보</div>
                <div class="guest-reservation-detail-info__sub-title1">총 비용</div>
                <div th:text="'₩' + ${#numbers.formatInteger(payment.price,3,'COMMA')}">￦ 111111</div>
              </div>


            </div>

          </div>

        </div>

      </div>

      <div class="map-box">

        <div id="map">지도</div>

      </div>

    </div>

  </div>

</th:block>
</html>