<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/list.css}">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/list-info-modal.css}">
</th:block>

<th:block layout:fragment="js">
  <script defer th:src="@{/js/reservation/guest/list.js}"></script>
  <script defer th:src="@{/js/reservation/guest/again-payment.js}"></script>
  <script defer th:src="@{/js/reservation/guest/partial-refund.js}"></script>
</th:block>

<th:block layout:fragment="content">

  <div class="guest-reservation__box">
    <div class="guest-reservation__content">


      <div class="guest-reservation__title">여행</div>
      <nav class="guest-reservation__nav">
        <a th:href="@{|/reservation/guest/list/upcoming|}">
          <button class="guest-reservation__upcoming">
            <span>예정된 예약</span>
          </button>
        </a>
        <a th:href="@{|/reservation/guest/list/complete|}">
          <button class="guest-reservation__complete">완료된 예약</button>
        </a>
        <a th:href="@{|/reservation/guest/list/cancel|}">
          <button class="guest-reservation__cancel">취소된 예약</button>
        </a>
        <a th:href="@{|/reservation/guest/list/update|}">
          <button class="guest-reservation__update">변경 예약</button>
        </a>
      </nav>

      <div th:if="${reservationList.isEmpty() && roomList.isEmpty() && roomImageList.isEmpty()}">
        <img th:src="@{/images/reservation/nothing.png}" class="guest-reservation__nothing">
      </div>

      <div class="guest-reservation__room-info" th:if="${status.equals('upcoming') || status.equals('complete')}">
        <a th:href="@{|/reservation/guest/simple-info/${reservation.reservationId}|}"
           th:each="reservation, i : ${reservationList}"
           th:unless="${reservationList.isEmpty() && roomList.isEmpty() && roomImageList.isEmpty()}">
          <table class="guest-reservation__room-info-table">
            <tr>
              <td>
                <div class="guest-reservation__room-img-box">
                  <img th:src="${roomImageList.get(i.index).get(0).roomImg}" class="guest-reservation__room-img">
                  <div th:if="${reservation.status.equals('update-no')}" class="guest-reservation__update-no">변경 요청
                    거절됨
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="guest-reservation__room-simple-info">
                <div class="guest-reservation__reservation-date"
                     th:text="${reservation.checkIn } + ' ~ ' + ${reservation.checkOut } ">예약날짜
                </div>
                <div class="guest-reservation__room-simple-address" th:text="${roomList.get(i.index).address}">간단주소
                </div>
              </td>
            </tr>
            <tr>
              <td class="guest-reservation__room-simple-info-room-name">
                <div class="guest-reservation__room-name" th:text="${roomList.get(i.index).title}">숙소이름</div>
                <i class="fas fa-angle-right"></i>
              </td>
            </tr>
            <tr>
              <td class="guest-reservation__detail">
                <input type="submit" value="더보기" class="guest-reservation__detail-btn">
              </td>
            </tr>
          </table>
        </a>

      </div>

      <!-- 취소 / 변경 예약 정보 -->
      <div class="guest-reservation__cancel-update-box"
           th:unless="${status.equals('upcoming') || status.equals('complete')}">
        <div th:each="reservation, i : ${reservationList}" th:if="${reservationList.size()} != 0"
             class="guest-reservation__cancel-update">
          <input type="hidden" class="guest-reservation__id" th:value="${reservation.reservationId}">
          <table class="guest-reservation__cancel-update-table">
            <input type="hidden" class="guest-reservation__status" th:value="${status}">
            <tr>
              <td rowspan="2">
                <div>
                  <img th:src="${roomImageList.get(i.index).get(0).roomImg}">
                </div>
              </td>
              <td>
                <div th:text="${roomList.get(i.index).title}" class="guest-reservation__room-title">숙소이름</div>
              </td>
              <td rowspan="2" class="guest-reservation__update-status-box" th:each="update : ${updateList}"
                  th:if="${update.updateTarget==reservation.reservationId}" th:switch="${update.status}">
                <div class="guest-reservation__update-status" th:case="update">요청 중</div>
                <div class="guest-reservation__update-status" th:case="update-ok">요청 수락됨</div>
                <div class="guest-reservation__update-status" th:case="update-no">요청 거절됨</div>
              </td>
            </tr>
            <tr>
              <td>
                <div th:text="${roomList.get(i.index).address}">간단주소</div>
                <div th:text="${reservation.checkIn } + ' ~ ' + ${reservation.checkOut } ">
                  예약날짜
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- 취소 변경 예약 정보 모달 -->
      <input type="hidden" class="guest-reservation__cancel-update-id">
      <div id="cancel-update-modal" class="guest-reservation__modal">
        <div class="guest-reservation__modal-content">
          <div class="guest-reservation__detail-info">
            <a>
              <div class="guest-reservation__modal-cancel">
                <i class="fas fa-times"></i>
              </div>
            </a>
            <div class="guest-reservation__modal-title">
              <div class="guest-reservation__title-content">예약 세부 정보</div>
            </div>
          </div>

          <div class="guest-reservation__modal-detail-content">
            <div class="guest-reservation__reservation-status">
              <div class="guest-reservation__modal-address">주소</div>
              <div class="guest-reservation__modal-date">예약날짜</div>
              <div th:if="${status.equals('cancel')}" class="guest-reservation__reservation-status-title">예약 취소 완료</div>
              <div th:unless="${status.equals('cancel')}" class="guest-reservation__reservation-status-title">변경 요청 예약
              </div>
            </div>

            <div>
              <div class="guest-reservation__modal-room-img">
                <img th:src="@{/images/reservation/sample.jpg}" class="guest-reservation__modal-room-image">
              </div>
              <div class="guest-reservation__modal-room-info">
                <div class="guest-reservation__modal-subtitle" id="room-name">숙소 이름</div>
              </div>
              <div class="guest-reservation__modal-room-info">
                <div class="guest-reservation__simple-info-title">간략 정보</div>
                <div>호스트 : <span class="guest-reservation__modal-host-name"></span> 님</div>
                <div>게스트 : <span class="guest-reservation__modal-guest"></span> 명</div>
              </div>

              <div th:if="${status.equals('cancel')}" class="guest-reservation__modal-room-info">
                <div class="guest-reservation__modal-subtitle">환불 정보</div>
                <div class="guest-reservation__modal-refund">환불 금액</div>
              </div>

              <div th:unless="${status.equals('cancel')}" class="guest-reservation__modal-room-info">
                <div class="guest-reservation__modal-subtitle">변경 정보</div>
                <div class="guest-reservation__modal-before-after">
                  <div class="guest-reservation__modal-before-after-content">
                    <div class="guest-reservation__modal-subject">변경 전</div>
                    <div class="guest-reservation__modal-before-check-in-out"></div>
                    <div class="guest-reservation__modal-before-guest">
                      <div>성인 : <span class="guest-reservation__modal-before-adult"></span> 명</div>
                      <div>아동 : <span class="guest-reservation__modal-before-kid"></span> 명</div>
                      <div>유아 : <span class="guest-reservation__modal-before-infant"></span> 명</div>
                      <div>총 인원 : <span class="guest-reservation__modal-before-total"></span></div>
                    </div>
                  </div>

                  <div class="guest-reservation__modal-before-after-content">
                    <div class="guest-reservation__modal-subject">변경 후</div>
                    <div class="guest-reservation__modal-after-check-in-out"></div>
                    <div class="guest-reservation__modal-after-guest">
                      <div>성인 : <span class="guest-reservation__modal-after-adult"></span> 명</div>
                      <div>아동 : <span class="guest-reservation__modal-after-kid"></span> 명</div>
                      <div>유아 : <span class="guest-reservation__modal-after-infant"></span> 명</div>
                      <div>총 인원 : <span class="guest-reservation__modal-after-total"></span></div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="guest-reservation__modal-room-info">
                <div class="guest-reservation__modal-subtitle">결제 세부 정보</div>
                <div class="guest-reservation__modal-price">총 비용</div>
                <input type="hidden" class="guest-reservation__again-payment-id">
              </div>

              <div class="guest-reservation__modal-room-detail">
                <div><i class="fas fa-hotel"></i> <span>숙소 보기</span></div>
              </div>


            </div>

          </div>


        </div>
      </div>

    </div>

  </div>

</th:block>
</html>