<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/list.css}">
</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/reservation/guest/list.js}"></script>
</th:block>


<head>
  <meta charset="UTF-8">
  <title>게스트 예약 내역</title>
</head>
<body>
<th:block layout:fragment="content">
<div class="guest-reservation__box">
  <div class="guest-reservation__content">
  <div class="guest-reservation__title">여행</div>
  <nav class="guest-reservation__nav">
    <a th:href="@{|/reservation/guest/list/upcoming|}">
      <button class="guest-reservation__upcoming"><div>예정된 예약</div></button>
    </a>
    <a th:href="@{|/reservation/guest/list/complete|}">
      <button class="guest-reservation__complete">완료된 예약</button>
    </a>
    <a th:href="@{|/reservation/guest/list/cancel|}">
      <button class="guest-reservation__cancel">취소된 예약</button>
    </a>
  </nav>

    <div class="guest-reservation__room-info" >
      <a th:href="@{|/reservation/guest/simple-info/${reservation.reservationId}|}" th:each="reservation, i : ${reservationList}" th:if="${reservationList.size()} != 0">
        <table class="guest-reservation__room-info-table">
          <tr><td>
            <div class="guest-reservation__room-img-box">
              <img th:src="@{/images/reservation/sample.jpg}" class="guest-reservation__room-img">
            </div>
          </td></tr>
          <tr>
            <td class="guest-reservation__room-simple-info">
              <div class="guest-reservation__reservation-date" th:text="${reservation.checkIn } + ' ~ ' + ${reservation.checkOut } ">예약날짜</div>
              <div class="guest-reservation__room-simple-address" th:text="${roomList.get(i.index).address}">간단주소</div>
            </td>
          </tr>
          <tr><td class="guest-reservation__room-simple-info-room-name">
            <div class="guest-reservation__room-name"  th:text="${roomList.get(i.index).title}">숙소이름</div>
            <i class="fas fa-angle-right"></i>
          </td></tr>
          <tr><td class="guest-reservation__detail">
            <input type="submit" value="더보기" class="guest-reservation__detail-btn">
          </td></tr>
        </table>
      </a>
    </div>

    <div class="guest-reservation__room-info" th:unless="${reservationList.size()} != 0"> 없슈ㅠ </div>


  </div>

</div>

</th:block>
</body>
</html>