<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/simple-info.css}">
</th:block>

<th:block layout:fragment="js">
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=34aa0f04a8c02352b695cb5574769930"></script>
  <script type="text/javascript" defer th:src="@{/js/common/map.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/reservation/guest/simple-info.js}"></script>
</th:block>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<th:block layout:fragment="content" class="guest-reservation-simple-info__box">

  <div class="guest-reservation-simple-info__box">

    <div class="guest-reservation-simple-info__content">
      <a th:href="@{/reservation/guest/list}" class="guest-reservation-simple-info__back"><i
          class="fas fa-arrow-left"></i></a>
      <div class="guest-reservation-simple-info__detail-room-box">
        <div class="guest-reservation-simple-info__detail-room">
          <div class="guest-reservation-simple-info__room-address">숙소주소</div>
          <div>예약날짜</div>
        </div>

        <div class="guest-reservation-simple-info__room-info-box">
          <div class="guest-reservation-simple-info__room-info-small-box">
            <div th:if="${status.equals('upcoming')}">
              <div class="guest-reservation-simple-info__reservation-title">예정된 예약</div>
            </div>
            <div th:unless="${status.equals('upcoming')}">
              <div class="guest-reservation-simple-info__reservation-title">완료된 예약</div>
            </div>
            <div class="guest-reservation-simple-info__room-info">
              <div class="guest-reservation-simple-info__detail-room-info">
                <div class="guest-reservation-simple-info__room-info-align">
                  <div class="guest-reservation-simple-info__room-info-img">
                    <img th:src="@{/images/reservation/sample.jpg}">
                  </div>
                  <div class="guest-reservation-simple-info__room-info-margin">
                    <div class="guest-reservation-simple-info__reservation-date">예약날짜</div>
                    <div class="guest-reservation-simple-info__room-name">숙소제목</div>
                    <div class="guest-reservation-simple-info__room-info-address">숙소주소</div>
                  </div>
                </div>
                <div class="guest-reservation-simple-info__room-detail-info-view">세부사항보기</div>
              </div>

              <div class="guest-reservation-simple-info__title">
                <div class="guest-reservation-simple-info__msg">호스트에게 연락하기</div>
              </div>
              <div th:if="${status.equals('complete')}" class="guest-reservation-simple-info__title">
                <div class="guest-reservation-simple-info__review">후기 작성</div>
              </div>
            </div>
          </div>

        </div>

      </div>


      <div class="guest-reservation-simple-info__map-box">

        <div id="map">지도</div>

      </div>

    </div>

  </div>


</th:block>
</body>
</html>