<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
>

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/update.css}">
  <link rel="stylesheet" th:href="@{/css/reservation/guest/update-guest.css}">
  <link rel="stylesheet" th:href="@{/css/reservation/reservation-datepicker.css}">
</th:block>

<th:block layout:fragment="js">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script type="text/javascript" defer th:src="@{/js/reservation/reservation-modal.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/reservation/reservation-date-modal.js}"></script>
</th:block>

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<th:block layout:fragment="content">

  <div class="guest-reservation-update__box">
    <div class="guest-reservation-update__box2">

      <div class="guest-reservation-update__content">
        <div class="guest-reservation-update__title">무엇을 변경하고 싶으세요?</div>


        <form th:action="@{|/reservation/guest/update/${reservation.reservationId}|}" method="post">
          <input type="hidden" name="checkIn" class="reservation__check-in" th:value="${reservation.checkIn}">
          <input type="hidden" name="checkOut" class="reservation__check-out" th:value="${reservation.checkOut}">
          <input type="hidden" name="adult" class="reservation__adult" th:value="${reservation.adult}">
          <input type="hidden" name="kid" class="reservation__kid" th:value="${reservation.kid}">
          <input type="hidden" name="infant" class="reservation__infant" th:value="${reservation.infant}">
          <input type="hidden" name="reservationDateArray" class="reservation__date">

          <div class="guest-reservation-update__small-box">
            <div class="guest-reservation-update__sub-title">날짜</div>
            <div class="guest-reservation-update__reservation-date">
              <div class="reservation__check-in" id="update-check-in" th:text="${reservation.checkIn}">체크인날짜</div>
              <div> ~ </div>
              <div class="reservation__check-out" th:text="${reservation.checkOut}">체크아웃날짜</div>
              <div class="guest-reservation-update__i-calendar">
                <i class="far fa-calendar" id="update-date"></i>
              </div>
            </div>

            <div class="guest-reservation-update__msg"></div>
          </div>


          <div class="guest-reservation-update__small-box">
            <div class="guest-reservation-update__sub-title">인원</div>
            <div class="guest-reservation-update__guest" id="update-guest">
              <div>성인 : <span class="reservation__guest-adult" th:text="${reservation.adult}"></span> 명
                아동 : <span class="reservation__guest-kid" th:text="${reservation.kid}"></span> 명
                유아 : <span class="reservation__guest-infant" th:text="${reservation.infant}"></span> 명
              </div>
              <i class="fas fa-user-friends"></i></i>
            </div>
            <div class="guest-reservation-update__total-guest">게스트 <span class="reservation__total-guest" th:text="${reservation.adult} + ${reservation.kid} + ${reservation.infant}"></span> 명</div>
          </div>

          <input type="submit" value="계속" class="guest-reservation-update__next-btn">
        </form>
        <input type="hidden" id="csrf" th:value="${_csrf.token}"/>


        <!-- 날짜 modal -->
        <input type="hidden" name="reservationDateList" th:value="${reservationDateList}" class="reservation__reservation-date-list">
        <input type="hidden" name="expriyDate" th:value="${room.expiryDate}" class="reservation__room-expiry-date">
        <input type="hidden" name="reservationDateArray" class="reservation__date">

        <div id="date-modal" class="reservation__modal">
          <div class="reservation__date-modal-content">
            <div class="reservation__modal-cancel"><i class="fas fa-times"></i></div>
            <div class="reservation__choose-date">
              <h2 class="reservation__sub-title">날짜 선택</h2>
              <div class="reservation__ch-date">
                <div class="reservation__ch-in-out-date">
                  <div class="reservation__check-title">체크인</div>
                  <input type="text" id="check-in" class="reservation__date-value" readonly>
                </div>
                <div class="reservation__ch-in-out-date">
                  <div class="reservation__check-title">체크아웃</div>
                  <input type="text" id="check-out" class="reservation__date-value" readonly>

                </div>
              </div>
            </div>


            <div class="reservation__date-wrapper">
              <div  class="dates">
                <div id="range-date"></div>
              </div>
            </div>

            <div class="reservation__date-done">
              <button class="reservation__delete-date">날짜지우기</button>
              <button class="reservation__save-date">저장</button>
            </div>


          </div>
        </div>


        <!-- 게스트 모달 -->
        <div id="my-modal" class="reservation__modal">
          <div class="reservation__modal-content">
            <div class="reservation__modal-cancel"><i class="fas fa-times"></i></div>
            <h2 class="reservation__sub-title">게스트</h2>
            <div class="reservation__guest">
        <span>
         <div class="reservation__guest-title">성인</div>
        </span>
              <div class="reservation__number-right">
                <div class="reservation__guest-number">
                  <button class="reservation__decrease" id="adult-minus"><i class="fas fa-minus"></i></button>
                  <input type="text" name="adult-number" value="1" id="adult-number" readonly>
                  <button class="reservation__increase" id="adult-plus"><i class="fas fa-plus"></i></button>
                </div>
              </div>
            </div>

            <div class="reservation__guest">
        <span>
          <div>
            <div class="reservation__guest-title">어린이</div>
            <div class="reservation__guest-age">2~12세</div>
          </div>
        </span>
              <div class="reservation__number-right">
                <div class="reservation__guest-number">
                  <button class="reservation__decrease" id="kid-minus"><i class="fas fa-minus"></i></button>
                  <input type="text" name="kid-number" value="0" id="kid-number" readonly>
                  <button class="reservation__increase" id="kid-plus"><i class="fas fa-plus"></i></button>
                </div>
              </div>

            </div>

            <div class="reservation__guest">
        <span>
          <div>
            <div class="reservation__guest-title">유아</div>
            <div class="reservation__guest-age">2세 미만</div>
          </div>
        </span>
              <div class="reservation__number-right">
                <div class="reservation__guest-number">
                  <button class="reservation__decrease" id="infant-minus"><i class="fas fa-minus"></i></button>
                  <input type="text" name="infant-number" value="0" id="infant-number" readonly>
                  <button class="reservation__increase" id="infant-plus"><i class="fas fa-plus"></i></button>
                </div>
              </div>

            </div>

            <div>최대 <span th:text="${room.getMaxPeople()}" class="reservation__max-people"></span> 명.
              유아는 숙박인원에 포함되지 않습니다.
            </div>

            <div class="reservation__guest-update-btn">
          <span class="reservation__modal-cancel pop_bt">
            취소
          </span>
              <button class="reservation__guest-update">저장하기</button>
            </div>
          </div>

        </div>








      </div>


      <div class="guest-reservation-update__reservation-box">
        <div class="guest-reservation-update__room-info">
          <div class="guest-reservation-update__room-address">숙소주소</div>
          <div>숙소사진</div>
        </div>
        <div class="guest-reservation-update__info-align">
          <i class="fas fa-user-friends"></i>
          <div class="guest-reservation-update__content">인원 몇 명</div>
        </div>
        <div class="guest-reservation-update__info-align">
          <i class="far fa-calendar-alt"></i>
          <div class="guest-reservation-update__content">예약날짜</div>
        </div>
        <div class="guest-reservation-update__info-align">
          <span>기존 금액</span>
          <span>￦ 111111</span>
        </div>


      </div>
    </div>

  </div>


</th:block>

<body>

</body>
</html>