<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Common CSS -->
  <link rel="stylesheet" th:href="@{/css/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/variables.css}"/>
  <link rel="stylesheet" th:href="@{/css/partials/header.css}">

  <!--  Guest Header-->
  <th:block th:unless='${#httpServletRequest.getServletPath().startsWith("/host")}'>
    <link rel="stylesheet" th:href="@{/css/partials/guest-header.css}">
    <link rel="stylesheet" th:href="@{/css/partials/date-modal.css}">
  </th:block>

  <!--  Host Header-->
  <th:block th:if='${#httpServletRequest.getServletPath().startsWith("/host")}'>
    <link rel="stylesheet" th:href="@{/css/partials/host-header.css}">
  </th:block>

  <th:block layout:fragment="css"/>
  <th:block th:replace="partials/footer :: footerCss"/>

  <!-- Common JS -->
  <script src="https://kit.fontawesome.com/72ec3ada60.js" crossorigin="anonymous"></script>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script defer th:src="@{/js/partials/header-profile-menu.js}"></script>

  <!--  Guest Header-->
  <th:block th:unless='${#httpServletRequest.getServletPath().startsWith("/host")}'>
    <script defer th:src="@{/js/partials/guest-header.js}"></script>
    <script defer th:src="@{/js/partials/guest-header-search-date.js}"></script>
    <script defer th:src="@{/js/partials/guest-header-search.js}"></script>
  </th:block>

  <th:block layout:fragment="js"/>

  <title th:text="${title} + ' | Sixunsiverse'"></title>
</head>
<body>

<!--Guest Header-->
<th:block th:unless='${#httpServletRequest.getServletPath().startsWith("/host")}'>
  <th:block th:replace="partials/guest-header :: guestHeader"/>
</th:block>

<!--Host Header-->
<th:block th:if='${#httpServletRequest.getServletPath().startsWith("/host")}'>
  <th:block th:replace="partials/host-header :: hostHeader"/>
</th:block>

<!-- 각 페이지가 구현 해야할 부분 -->
<th:block layout:fragment="content"/>

<!-- Footer -->
<th:block th:replace="partials/footer :: footer"/>
</body>
</html>