<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- xmlns:th="http://www.thymeleaf.org : 타임리프를 쓰기위한 설정 -->
<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-securit : 시큐리티를 쓰기위한 설정 -->
<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout : 레이아웃을 쓰기 위한 설정 -->

<!-- layout:decorator="layout/default" -->
<!-- 이 한 줄로 인해, layout/default.html 파일을 include 해옵니다.. -->

<!-- layout/default.html에 보면 -->
<!-- <div layout:fragment="content"></div>가 있는데 -->
<!-- 아래 보면 <div layout:fragment="content"></div> 내부에 값을 적었습니다. -->

<!-- layout:fragment="content" 안에 적는 내용은 -->
<!-- layout/default.html의 -->
<!-- <div layout:fragment="content"></div> -->
<!-- 내부에 적히게 됩니다. -->

<!-- 즉, 각 페이지 별로 -->
<!-- <div layout:fragment="content"></div> -->
<!-- 내부에 작성하면 됩니다. -->

<!--위와 동일하게 쓰되, content 대신 css로 넣고 내부에 css 링크를 넣어주시면 됩니다-->
<th:block layout:fragment="css"></th:block>

위와 동일하게 쓰되, content 대신 js로 넣고 내부에 js 링크를 넣어주시면 됩니다
<th:block layout:fragment="js"></th:block>

<!-- <div layout:fragment="content"> 내부에 -->
<!-- 각 페이지 별 내용을 작성하면 됩니다. -->
<th:block layout:fragment="content">
  <!-- section 아니여도 됩니다. -->
  <section>
    <h2>레이아웃 샘플</h2>
    <span>이곳에 작성하면됩니다.</span>
  </section>
</th:block>
<!-- layout/default.html 에 보면 -->
<!-- <title th:text="${title} + ' | Sixunsiverse'"></title> 부분이 있는데 -->
<!-- 해당 페이지로 오는 Controller에서 -->
<!-- model.addAttribute("title", "sample") 값 하나만 넣어주시면 -->
<!-- sample | Sixunsiverse 가 적히도록 해뒀습니다. -->
</html>


<!-- =================== 여기 아래꺼 복붙하면 됩니다 ===================-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="js"></th:block>

<th:block layout:fragment="content">
  <section>
    <h2>레이아웃 샘플</h2>
    <span>이곳에 작성하면됩니다.</span>
  </section>
</th:block>

</html>


<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../../../static/css/reset.css"/>
  <link rel="stylesheet" href="../../../static/css/variables.css"/>
  <link rel="stylesheet" href="../../../static/css/partials/header.css"/>
  <script src="https://kit.fontawesome.com/72ec3ada60.js" crossorigin="anonymous"></script>
</head>
<div class="header__hide"></div>
<header class="header__container">
  <ul>
    <li sec:authorize="isAnonymous">
      <a th:href="@{/login}">로그인</a>
    </li>
    <li sec:authorize="isAuthenticated">
      <a th:href="@{/logout}">로그아웃</a>
    </li>
  </ul>
</header>
