.room__detail-container {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
}

.room__detail-first-container {
    display: flex;
    flex-direction: column;
}

.room__detail-subject {
    font-size: 2.2rem;
    font-weight: bold;
}

.room__detail-address {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-decoration: underline;
    color: #787878;
}

.room__detail-photo-container {
    display: flex;
    flex-direction: row;
    height: 30rem;
}

.room__detail-photo-big-container {
    /*display: inline-block;*/
    overflow: hidden;
    width: 50%;
    position: center;
    /*height: 30rem;*/
}

img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.room__detail-photo-small-container {
    background-size: cover;
    position: center;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 15rem;
    overflow: hidden;
}


.room__detail-second-container {
    margin-top: 5rem;
    display: flex;
}

.room__detail-second-left-container {
    width: 50%;
}

.room__detail-summery-subject {
    font-size: 2rem;
    font-weight: bold;
}

.room__detail-summery-sub {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: normal;
}

.room__detail-rule-container {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #D5D5D5;

}

.room__detail-rule-subject {
    font-size: 1.5rem;
    font-weight: bold;
}

.room__detail-rule-sub {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
    color: #787878;
}

.room__detail-introduce-container {

    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #D5D5D5;
    font-size: 1.2rem;
    line-height: 1.3;
}

.room__detail-amenities-container {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #D5D5D5;
}

.room__detail-amenities-subject {
    font-size: 2rem;
}

.room__detail-amenities-item {
    font-size: 1.8rem;
}

.room__detail-calendar-container {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid #D5D5D5;
}


.room__detail-second-right-container {
    box-sizing: border-box;
    width: 40%;
    height: max-content;
    border: 1px solid #D5D5D5;
    margin-left: 70px;
    padding: 30px;
    border-radius: 15px;
    /*top: 10rem;*/
    position: sticky;
}


