<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/reservation/host/detail-info.css}"/>
</th:block>

<th:block layout:fragment="content">
  <div th:if="${hostDetailInfoDto != null}" class="reservation__detail-container">
    <div class="reservation__detail-subject">
      <h1 class="reservation__detail-h1">예약 세부정보</h1>
    </div>
    <div class="reservation__detail-profile">
      <section>
        <div th:if='${#strings.equals(hostDetailInfoDto.status, "upcoming")}' th:text="'예정'"
             class="reservation__detail-status">완료
        </div>
        <div th:if='${#strings.equals(hostDetailInfoDto.status, "complete")}' th:text="'완료'"
             class="reservation__detail-status">완료
        </div>
        <div th:if='${#strings.equals(hostDetailInfoDto.status, "cancel")}' th:text="'취소'"
             class="reservation__detail-status">완료
        </div>
        <div th:if='${#strings.equals(hostDetailInfoDto.status, "update")}' th:text="'변경'"
             class="reservation__detail-status">완료
        </div>
        <div class="reservation__detail-profile-sub">
          <div class="reservation__detail-profile-con">
            <div th:text="${hostDetailInfoDto.username}" class="reservation__detail-profile-name">Sung Eun Park</div>
            <div
                th:unless="${#strings.equals(hostDetailInfoDto.status,'cancel')}"
                th:text="'게스트 ' + ${hostDetailInfoDto.adult + hostDetailInfoDto.kid + hostDetailInfoDto.infant} + '명 · ' + ${hostDetailInfoDto.dateSub} + '박 · ₩' + ${#numbers.formatInteger(hostDetailInfoDto.totalPrice - hostDetailInfoDto.commission,3,'COMMA')}"
                class="reservation__detail-profile-info">게스트 1명 · 1박 · ₩11,640
            </div>
            <!-- 취소인 경우 : 결제금액 ₩0 -->
            <div
                th:if="${#strings.equals(hostDetailInfoDto.status,'cancel')}"
                th:text="'게스트 ' + ${hostDetailInfoDto.adult + hostDetailInfoDto.kid + hostDetailInfoDto.infant} + '명 · ' + ${hostDetailInfoDto.dateSub} + '박 · ₩0'"
                class="reservation__detail-profile-info">게스트 1명 · 1박 · ₩11,640
            </div>
            <div th:text="${hostDetailInfoDto.title}" class="reservation__detail-profile-room">방울 in the house</div>
          </div>
          <div class="reservation__detail-profile-img">
            <a th:href="@{|/member/profile/${hostDetailInfoDto.guestMemberId}|}" target="_blank"
               class="reservation__detail-profile-img-con">
              <img th:src="${hostDetailInfoDto.profileImg}" class="reservation__detail-profile-img-photo">
            </a>
          </div>
        </div>
      </section>
    </div>
    <div class="reservation__detail-review">
      <!-- 상태 : 완료일 때만 평점/후기 존재 -->
      <div
          th:if="${#strings.equals(hostDetailInfoDto.status, 'complete')}"
          class="reservation__detail-review-con">
        <div class="reservation__detail-review-score">
          <span class="reservation__detail-all-score">전체 평점</span>
          <div class="reservation__detail-star-score">
            <span class="reservation__detail-star-score-shape">
              <th:block th:switch="${hostDetailInfoDto.scoreAll}">
                <span th:case="1">⭐</span>
                <span th:case="2">⭐⭐</span>
                <span th:case="3">⭐⭐⭐</span>
                <span th:case="4">⭐⭐⭐⭐</span>
                <span th:case="5">⭐⭐⭐⭐⭐</span>
              </th:block>
            </span>
          </div>
        </div>
        <div th:text="${hostDetailInfoDto.reviewContent}" class="reservation__detail-content">방울맘 하우스,, 쾌적하고,,, 아늑,,,
          호호^^
        </div>
      </div>
      <!-- 상태 : 취소 -->
      <div
          th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
          class="reservation__detail-review-con-new-ver">
        <div
            th:text="'게스트가 ' + ${#temporals.format(hostDetailInfoDto.checkIn,'M월 dd일')} + ' - ' + ${#temporals.format(hostDetailInfoDto.checkOut,'M월 dd일')} + ' 예약을 취소했습니다.'"
            class="reservation__detail-content-new-ver">
          게스트가 5월 12일 – 5월 13일 예약을 취소했습니다.
        </div>
      </div>
      <!-- 상태 : 예정 -->
      <div
          th:if="${#strings.equals(hostDetailInfoDto.status, 'upcoming')}"
          class="reservation__detail-review-con-new-ver">
        <div
            th:text="'게스트가 ' + ${#temporals.format(hostDetailInfoDto.checkIn,'M월 dd일')} + '에 체크인하기 전에 필요한 것은 없는지 확인하세요.'"
            class="reservation__detail-content-new-ver">
          게스트가 5월 12일에 체크인하기 전에 필요한 것은 없는지 확인하세요.
        </div>
      </div>

    </div>
    <div class="reservation__detail-info">
      <div class="reservation__detail-score-review">
        <div class="reservation_-detail-score-icon"></div>
        <div class="reservation_-detail-score-link">
          <!--          <button type="button" class="reservation__detail-link-btn">평점 4.5점 · 후기 3개</button>-->
        </div>
      </div>
      <div class="reservation__detail-join">
        <div class="reservation__detail-residence-icon"></div>
        <div th:text="${hostDetailInfoDto.address}" class="reservation__detail-residence-con">거주지: 서울, 한국</div>
      </div>
      <div th:if="${#strings.equals(hostDetailInfoDto.hostGrade, 'HOST')}">
        <div class="reservation__detail-judge-host-icon"></div>
        <div class="reservation__detail-judge-host-con">호스트이기도 해요</div>
      </div>
    </div>
    <div class="reservation__detail-see-profile">
      <a th:href="@{|/member/profile/${hostDetailInfoDto.guestMemberId}|}" target="_blank"
         class="reservation__detail-see-profile-link">프로필
        보기</a>
    </div>
    <div class="reservation__detail-contact">
      <div class="reservation__detail-contact-btn">
        <div class="reservation_-detail-message">
          <button type="button" class="reservation__detail-message-btn">메시지 보내기</button>
        </div>
      </div>
      <div class="reservation__detail-mobile">
        <span
            th:if="${hostDetailInfoDto.mobile != null}"
            th:text="'연락처 : ' + ${hostDetailInfoDto.mobile}" class="reservation__detail-mobile-num">전화번호: +82 10-9606-2908</span>

        <span
            th:if="${hostDetailInfoDto.mobile == null}">
        </span>
      </div>
    </div>
    <div class="reservation__detail-guest">
      <div class="reservation__detail-guest-sub">게스트</div>
      <div
          th:text="'성인' + ${hostDetailInfoDto.adult} + '명, 아동' + ${hostDetailInfoDto.kid} + '명, 유아' + ${hostDetailInfoDto.infant} + '명'"
          class="reservation__detail-guest-info">성인 1명
      </div>
    </div>
    <div class="reservation__detail-check-in">
      <div class="reservation__detail-check-in-sub">체크인</div>
      <div th:text="${#temporals.format(hostDetailInfoDto.checkIn,'yyyy년 M월 dd일 ')}"
           class="reservation__detail-check-in-info">2021년 2월 26일 (금)
      </div>
    </div>
    <div class="reservation__detail-check-out">
      <div class="reservation__detail-check-out-sub">체크아웃</div>
      <div th:text="${#temporals.format(hostDetailInfoDto.checkOut,'yyyy년 M월 dd일 ')}"
           class="reservation__detail-check-out-info">2021년 2월 27일 (토)
      </div>
    </div>
    <div class="reservation__detail-reserve-date">
      <div class="reservation__detail-reserve-date-sub">예약일</div>
      <div th:text='${#temporals.format(hostDetailInfoDto.createDate, "yyyy년 MM월 dd일 a hh:mm")}'
           class="reservation__detail-reserve-date-info">2021년 2월 26일 (금)
      </div>
    </div>
    <div class="reservation__detail-reserve-num">
      <div class="reservation__detail-reserve-num-sub">예약번호</div>
      <div th:text="${hostDetailInfoDto.reservationId}" class="reservation__detail-reserve-num-info">HMY9T5SDRD</div>
    </div>
    <div class="reservation__detail-guest-price-box">
      <div class="reservation__detail-guest-price">게스트가 결제한 금액</div>
      <div class="reservation__detail-guest-price-info">
        <div
            th:unless="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩' + ${#numbers.formatInteger(hostDetailInfoDto.price,3,'COMMA')} + ' x ' +  ${hostDetailInfoDto.dateSub} + '박'"
            class="reservation_-detail-guest-price-amount">
        </div>
        <div
            th:unless="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩' + ${#numbers.formatInteger(hostDetailInfoDto.price * hostDetailInfoDto.dateSub,3,'COMMA')}"
            class="reservation_-detail-guest-price-plus">
        </div>

        <div
            th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩0' + ' x ' +  ${hostDetailInfoDto.dateSub} + '박'"
            class="reservation_-detail-guest-price-amount">
        </div>
        <div
            th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩0'"
            class=" reservation_-detail-guest-price-plus
        ">
        </div>
      </div>
      <div class="reservation_-detail-guest-commission">
        <div class="reservation_-detail-guest-commission-sub">게스트 서비스 수수료</div>
        <div
            th:unless="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩' + ${#numbers.formatInteger(hostDetailInfoDto.commission,3,'COMMA')}"
            class="reservation_-detail-guest-commission-amount">
          ₩1,694
        </div>
        <!-- 취소인 경우 : 결제금액 ₩0 -->
        <div
            th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩0'"
            class="reservation_-detail-guest-commission-amount">
          ₩1,694
        </div>
      </div>
    </div>
    <div class="reservation__detail-guest-final-price">
      <div class="reservation_-detail-guest-final-price-sub">게스트가 결제한 총 금액(KRW)</div>
      <div
          th:unless="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
          th:text="'₩' + ${#numbers.formatInteger(hostDetailInfoDto.totalPrice + hostDetailInfoDto.mileage,3,'COMMA')}"
          class="reservation_-detail-guest-final-price-amount">₩13,863
      </div>
      <!-- 취소인 경우 : 결제금액 ₩0 -->
      <div
          th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
          th:text="'₩0'"
          class="reservation_-detail-guest-final-price-amount">₩13,863
      </div>
    </div>
    <div class="reservation__detail-host-price-box">
      <div class="reservation__detail-host-price">호스트 수령 대금</div>
      <div class="reservation__detail-one-day">
        <div class="reservation__detail-one-day-price">1박 숙박료</div>
        <div
            th:unless="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩' + ${#numbers.formatInteger(hostDetailInfoDto.price,3,'COMMA')}"
            class="reservation__detail-one-day-amount">₩15,000
        </div>
        <!-- 취소인 경우 : 결제금액 ₩0 -->
        <div
            th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
            th:text="'₩0'"
            class="reservation__detail-one-day-amount">₩15,000
        </div>
      </div>
    </div>
    <div class="reservation__detail-host-final-price">
      <div class="reservation__detail-host-final-price-info">호스트가 수령할 총 금액(KRW)</div>
      <div
          th:unless="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
          th:text="'₩' + ${#numbers.formatInteger(hostDetailInfoDto.totalPrice - hostDetailInfoDto.commission,3,'COMMA')}"
          class="reservation__detail-host-final-price-amount">₩11,640
      </div>
      <!-- 취소인 경우 : 결제금액 ₩0 -->
      <div
          th:if="${#strings.equals(hostDetailInfoDto.status, 'cancel')}"
          th:text="'₩0'"
          class="reservation__detail-host-final-price-amount">₩11,640
      </div>
    </div>
    <div class="reservation__detail-change-box">
      <a href="#" class="reservation__detail-change-link">예약 취소하기</a>
    </div>
  </div>
</th:block>
</html>