<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
  <meta charset="UTF-8">
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/reservation/host/list.css}"/>
  </th:block>
</head>
<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/reservation/host/list.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/reservation/host/update.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <input type="hidden" id="csrf" th:value="${_csrf.token}"/>
  <div>
    <div class="reservation__list-container">
      <section>
        <div class="reservation__list-subject">
          <h1 class="reservation__list-h1">예약</h1>
        </div>
        <div class="reservation__menu-list">
          <div class="reservation__upcoming reservation__status">
            <a th:href="@{/reservation/host/list/upcoming}">
              <button type="button" class="reservation__upcoming-sub">예정된 여행</button>
            </a>
          </div>
          <div class="reservation__complete reservation__status">
            <a th:href="@{/reservation/host/list/complete}">
              <button type="button" class="reservation__complete-sub">완료</button>
            </a>
          </div>
          <div class="reservation__cancel reservation__status">
            <a th:href="@{/reservation/host/list/cancel}">
              <button type="button" class="reservation__cancel-sub">취소됨</button>
            </a>
          </div>
          <div class="reservation__update reservation__status">
            <a th:href="@{/reservation/host/list/update}">
              <button type="button" class="reservation__update-sub">변경됨</button>
            </a>
          </div>
          <div class="reservation__all reservation__status">
            <a th:href="@{/reservation/host/list/all}">
              <button type="button" class="reservation__all-sub">모두</button>
            </a>
          </div>
        </div>
        <div class="reservation__content">
          <table class="reservation__list-table">
            <thead class="reservation__list-thead">
            <tr>
              <th class="reservation__status-sub">
                <button class="reservation__status-btn" disabled type="button">
                  <span class="reservation__status-char">상태</span>
                </button>
              </th>
              <th class="reservation__guest-sub">
                <button class="reservation__guest-btn" disabled type="button">
                  <span class="reservation__guest-char">게스트</span>
                </button>
              </th>
              <th class="reservation__check-in-sub">
                <button class="reservation__check-in-btn" type="button">
                  <span class="reservation__check-in-char">체크인</span>
                </button>
              </th>
              <th class="reservation__check-out-sub">
                <button class="reservation__check-out-btn" type="button">
                  <span class="reservation__check-out-char">체크아웃</span>
                </button>
              </th>
              <th class="reservation__date-sub">
                <button class="reservation__reserve-btn" disabled type="button">
                  <span class="reservation__reserve-char">예약 날짜</span>
                </button>
              <th class="reservation__room-sub">
                <button class="reservation__room-btn" disabled type="button">
                  <span class="reservation__room-char">숙소</span>
                </button>
              </th>
              <th class="reservation__price-sub">
                <button class="reservation__price-btn" disabled type="button">
                  <span class="reservation__price-char">총 수령 대금</span>
                </button>
              </th>
              <th class="reservation__empty-sub">
                <span class="reservation__empty-char"></span>
              </th>
            </tr>
            </thead>
            <tbody th:unless="${hostReservationList.isEmpty()}"
                   class="reservation__list-tbody">

            <tr th:each="hostReservation : ${hostReservationList}">
              <input type="hidden" th:value="${hostReservation.getReservationId()}" id="reservation-id">
              <td class="reservation__request">
                <div class="reservation__request-sub">
                  <span th:if='${#strings.equals(hostReservation.getStatus(), "upcoming")}' th:text="'예정'"
                        class="reservation__request-char">
                    확정
                  </span>
                  <span th:if='${#strings.equals(hostReservation.getStatus(), "complete")}' th:text="'완료'"
                        class="reservation__request-char">
                    확정
                  </span>
                  <span th:if='${#strings.equals(hostReservation.getStatus(), "cancel")}' th:text="'취소'"
                        class="reservation__request-char">
                    확정
                  </span>
                  <span th:if='${#strings.equals(hostReservation.getStatus(), "update")}' th:text="'변경'"
                        class="reservation__request-char">
                    확정
                  </span>
                </div>
              </td>
              <td class="reservation__guest-con">
                <div class="reservation__guest-con-name">
                  <a th:href="@{|/member/profile/${hostReservation.getMemberId()}|}"
                     class="reservation__guest-name-link">
                    <span th:text="${hostReservation.getUsername()}">SungEun Park</span>
                  </a>
                </div>
                <div class="reservation__guest-con-num">
                  <ul>
                    <li th:text="'성인' + ${hostReservation.getAdult()} + '명, 아동' + ${hostReservation.getKid()} + '명, 유아' + ${hostReservation.getInfant()} + '명'">
                      성인 1명
                    </li>
                  </ul>
                </div>
              </td>
              <td class="reservation__check-in-con">
                <div th:text="${hostReservation.getCheckIn()}" class="reservation__check-in-con-date">
                  2021년 2월 26일
                </div>
              </td>
              <td class="reservation__check-out-con">
                <div th:text="${hostReservation.getCheckOut()}" class="reservation__check-out-con-date">
                  2021년 2월 27일
                </div>
              </td>
              <td class="reservation__reserve-con">
                <div th:text='${#temporals.format(hostReservation.getCreateDate(), "yyyy-MM-dd a hh:mm")}'
                     class="reservation__reserve-con-date">
                  2021년 2월 26일
                </div>
              </td>
              <td class="reservation__ room-con">
                <div th:text="${hostReservation.getTitle()}" class="reservation__room-name">방울 in the house</div>
              </td>
              <td class="reservation__price-con">
                <!--                TODO: 가격 * 체크인 체크아웃 날짜 빼기-->
                <div
                    th:text="${hostReservation.getPrice() - hostReservation.getCommission()}"
                    class="reservation__price-detail">₩11,640
                </div>
              </td>
              <td class="reservation__detail-btn">
                <div class="reservation__host-btn-box">
                  <div th:if="${#strings.equals(hostReservation.getStatus(), 'update')}"
                       class="reservation__host-update">
                    <button class="reservation__host-update-ok">수락</button>
                    <button class="reservation__host-update-no">거절</button>
                  </div>
                  <div class="reservation__detail-con">
                    <a th:href="@{|/reservation/host/detail-info/${hostReservation.getReservationId()}|}"
                       class="reservation__detail-link"
                       target="_blank">
                      <span class="reservation__detail-char">세부사항</span>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <!--        <div th: th:if="${hostReservationList.size() == 0}" class="reservation__empty-box">-->
    <!--          <div th:if="${status.equals('upcoming')}" class="reservation__empty-upcoming">예정된 예약이 없습니다</div>-->
    <!--          <div th:if="${status.equals('complete')}" class="reservation__empty-complete">완료된 예약이 없습니다</div>-->
    <!--          <div th:if="${status.equals('cancel')}" class="reservation__empty-cancel">취소된 예약이 없습니다</div>-->
    <!--          <div th:if="${status.equals('update')}" class="reservation__empty-update">변경된 예약이 없습니다</div>-->
    <!--          <div th:if="${status.equals('all')}" class="reservation__empty-all">예약이 없습니다</div>-->
    <!--        </div>-->
  </div>
</th:block>
<!-- layout/default.html 에 보면 -->
<!-- <title th:text="${title} + ' | Sixuniverse'"></title> 부분이 있는데 -->
<!-- 해당 페이지로 오는 Controller에서 -->
<!-- model.addAttribute("title", "sample") 값 하나만 넣어주시면 -->
<!-- sample | Sixuniverse 가 적히도록 해뒀습니다. -->
</html>