<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.roomFacility.repository.RoomFacilityMapper">

  <insert id="save" parameterType="java.util.List">
    insert into room_facility (room_id, name, category_name) values
    <foreach collection="list" item="roomFacilityDto" separator=",">
      (#{roomFacilityDto.roomId}, #{roomFacilityDto.name}, #{roomFacilityDto.categoryName})
    </foreach>
  </insert>

  <delete id="removeByRoomIdAndCategoryName">
    delete
    from room_facility
    where room_id = #{roomId}
      and category_name = #{categoryName}
  </delete>

  <select id="selectRoomFacility" parameterType="RoomFacilityDto" resultType="string">
    select name
    from room_facility
    where room_id = #{roomId};
  </select>

  <select id="findByRoomIdAndCategoryName" parameterType="RoomFacilityDto" resultType="string">
    select name
    from room_facility
    where room_id = #{roomId}
      and category_name = #{categoryName}
  </select>

  <delete id="removeByRoomId">
    delete
    from room_facility
    where room_id = #{roomId}
  </delete>

</mapper>
