<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.search.repository.SearchMapper">

  <select id="searchList" parameterType="SearchDto" resultType="RoomInfoDto">
    select * from (
    select room.room_id,
    m.host_grade,
    (select room_img
    from room_img
    where room_id = room.room_id
    order by room_img_id
    limit 1) as room_img,
    (ifnull(avg(review.score_clean), 0) + ifnull(avg(review.score_location), 0) + ifnull(avg(review.score_service), 0))
    /
    3 as review_score,
    count(review.review_id) as review_count,
    (select sum(room_hits.hits)
    from room_hits
    where room_hits.room_id=room.room_id) as hits,
    room.title,
    room.building_type,
    room.room_type,
    room.address,
    room.sub_address,
    room.price,
    room.renew_date
    from member m
    join room on m.member_id = room.member_id
    left join review on room.room_id = review.room_id
    where room.status = 'register'
    <if test='location != null and location != ""'>
      and room.address like CONCAT('%', #{location}, '%')
    </if>
    <if test='checkIn != null and checkOut != null'>
      and #{checkIn} between room.renew_date and date_add(room.renew_date, interval room.expiry_date month)
      and #{checkOut} between room.renew_date and date_add(room.renew_date, interval room.expiry_date month)
      and room.room_id not in (
      select distinct sub_room.room_id
      from room sub_room
      join reservation_date sub_rd
      on sub_room.room_id=sub_rd.room_id
      where sub_rd.reservation_date between #{checkIn} and #{checkOut}
      )
    </if>
    <if test='totalGuest != 0'>
      <![CDATA[
        and room.max_people >= #{totalGuest}
      ]]>
    </if>
    group by room.room_id)
    as tem order by field(host_grade, 'SUPER-HOST', 'HOST'), hits desc, renew_date desc
  </select>

</mapper>