<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/register/index.css}"/>
</th:block>
<th:block layout:fragment="js">
  <script defer src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script defer th:src="@{/js/common/daum-postcode.js}"></script>
  <script defer th:src="@{/js/room/address.js}"></script>
</th:block>
<th:block layout:fragment="content">

  <div class="room__container">

    <div class="room__register-container">

      <div class="room__guide">
        <span th:text="${session.member.getUsername()}"></span>님 안녕하세요 ! 숙소등록을 시작해볼까요?
      </div>
      <div class="room__step">1단계</div>
      <div class="room__guide">숙소의 위치를 알려주세요.</div>

      <div class="room__post-container">
        <form th:action="@{${url}}" method="post">
          <input th:if="${isUpdate}" type="hidden" name="roomId" th:value="${roomId}"/>

          <button type="button" class="postcode-search-btn room__postcode-btn">우편번호 검색</button>
          <input type="text"
                 id="zipcode"
                 name="zipcode"
                 class="room__address"
                 th:value="${roomDto.getZipcode()}"
                 placeholder="우편번호(필수사항)" readonly/>

          <input type="text"
                 id="address"
                 name="address"
                 class="room__address"
                 th:value="${roomDto.getAddress()}"
                 placeholder="주소(필수사항)" readonly/><br>

          <input type="text"
                 id="sub-address"
                 name="subAddress"
                 class="room__address"
                 th:value="${roomDto.getSubAddress()}"
                 placeholder="상세주소(선택사항)"/>

          <button type="submit" id="submit" class="room__register-btn">계속</button>
        </form>
      </div>

    </div>
  </div>
</th:block>
</html>