<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/register/images.css}"/>
</div>
<th:block layout:fragment="content">

  <div class="container">

    <div class="room__register-container">

      <div class="room__guide">멋진 사진으로 숙소가 돋보이게 해주세요.</div>
      <div class="room__guide-sub">휴대전화나 카메라를 사용하여 사진을 찍으세요. 숙소를 등록하려면 1장 이상의 사진을 업로드하세요. 원하는 대로 드래그하여 사진 배치 순서를 결정할 수 있습니다. 언제든 사진을 추가하거나 수정하실 수 있습니다.</div>

      <form th:action="@{/host/room/register/images}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="roomId" th:value="${roomId}"/>
        <input multiple type="file" name="files">
        <input multiple type="file" name="files">
        <input multiple type="file" name="files">
        <input multiple type="file" name="files">
        <input multiple type="file" name="files">

        <button type="submit" class="room__register-btn">계속</button>
      </form>
    </div>
  </div>
</th:block>
</html>