<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/register/images.css}"/>
</div>
<th:block layout:fragment="content">

  <div class="room__container">

    <div class="room__register-container">

      <div class="room__guide">멋진 사진으로 숙소가 돋보이게 해주세요.</div>
      <div class="room__guide-sub">
        휴대전화나 카메라를 사용하여 사진을 찍으세요.
        숙소를 등록하려면 5장 이상의 사진을 업로드하세요.
        언제든 사진을 추가하거나 수정하실 수 있습니다.
      </div>

      <a th:href="@{|/host/room/register/info/${roomId}|}" class="room__register-btn">계속</a>
    </div>
  </div>
</th:block>
</html>