<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/register/amenities.css}"/>
</div>
<th:block layout:fragment="content">

  <div class="container">

    <div class="room__register-container">

      <div class="room__guide">어떤 안전시설을 제공하나요?</div>
      <form th:action="@{/host/room/register/safety}" method="post">

        <input type="hidden" name="roomId" th:value="${roomId}"/>

        <div>
          <label>
            <input type="checkbox" name="name" value="화재 감지기"/>
            <span>화재 감지기</span>
            <span>잘 작동하는 화재 감지기를 모든 방에 구비해 놓아야 하는지 현지 법규를 확인해보세요.</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="name" value="일산화탄소 감지기"/>
            <span>일산화탄소 감지기</span>
            <span>일산화탄소 감지기 구비 요건에 대해 현지 법규를 확인해보세요. 지역에 따라, 정상적으로 작동하는 일산화탄소 감지기를 모든 방에 설치해야 할 수 있습니다.</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="name" value="구급상자"/>
            <span>구급상자</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="name" value="소화기"/>
            <span>소화기</span>
          </label>
        </div>
        <div>
          <label>
            <input type="checkbox" name="name" value="침실문 잠금장치"/>
            <span>침실문 잠금장치</span>
            <span>안전과 사생활 보호를 위해 방문을 잠글 수 있음</span>
          </label>
        </div>

        <button type="submit" class="room__register-btn">계속</button>
      </form>
    </div>
  </div>
</th:block>
</html>