<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<div layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/register/amenities.css}"/>
</div>

<th:block layout:fragment="content">

  <div class="room__container">

    <div class="room__register-container">

      <div class="room__guide">게스트가 어떤 공간을 사용할 수 있나요?</div>

      <form th:action="@{/host/room/register/spaces}" method="post">

        <input type="hidden" name="roomId" th:value="${roomId}"/>

        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="건조기"
                   th:checked='${#lists.contains(spaces, "건조기")}'/>

            <span>세탁공간 - 건조기</span>
          </label>
        </div>

        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="세탁기"
                   th:checked='${#lists.contains(spaces, "세탁기")}'>

            <span>세탁공간 - 세탁기</span>
          </label>
        </div>

        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="자쿠지"
                   th:checked='${#lists.contains(spaces, "자쿠지")}'/>

            <span>자쿠지</span>
          </label>
        </div>
        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="주방"
                   th:checked='${#lists.contains(spaces, "주방")}'>

            <span>주방</span>
          </label>
        </div>
        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="수영장"
                   th:checked='${#lists.contains(spaces, "수영장")}'/>

            <span>수영장</span>
          </label>
        </div>
        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="주차"
                   th:checked='${#lists.contains(spaces, "주차")}'>

            <span>주차</span>
          </label>
        </div>
        <div>
          <label>

            <input type="checkbox"
                   name="name"
                   value="헬스장"
                   th:checked='${#lists.contains(spaces, "헬스장")}'/>

            <span>헬스장</span>
          </label>
        </div>

        <button type="submit" class="room__register-btn">계속</button>
      </form>
    </div>
  </div>
</th:block>
</html>