<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>회원가입 | sixuniverse</title>
</head>
<body>
<form th:action="@{/join}" method="post">
  <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>
  <input type="email" name="email" placeholder="sample@gmail.com" maxlength="30" required/>
  <input type="password" name="password" placeholder="비밀번호" maxlength="30" required/>
  <input type="text" name="name" placeholder="이름" maxlength="10" required/>
  <input type="text" name="birthdate" placeholder="생년월일" maxlength="6" required/>
  <input type="text" name="zipcode" placeholder="우편번호" maxlength="5" required/>
  <input type="text" name="address" placeholder="주소" maxlength="30" required/>
  <input type="text" name="subAddress" placeholder="상세 주소" maxlength="30"/>
  <input type="text" name="phone" placeholder="- 없이 11자리 입력" maxlength="11"/>
  <button>회원가입</button>
</form>
</body>
</html>