<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<form th:action="@{/templates/login}" method="post">
  <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}"/>
  <input type="text" name="email" placeholder="sample@gmail.com"/>
  <input type="password" name="password" placeholder="비밀번호"/>
  <div>
    <label>로그인 상태 유지</label>
    <input type="checkbox" name="remember">
  </div>
  <button>로그인</button>
</form>
</body>
</html>