<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/member/profile.css}"/>
</th:block>
<th:block layout:fragment="js">
  <script defer th:src="@{/js/member/profile.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <div class="member-profile__container">
    <aside class="member-profile__side-container">
      <div class="member-profile__side-wrap">
        <div class="member-profile__img-wrap">
          <img id="member-profile-img" th:src="${memberDto.getProfileImg()}" alt="프로필">
          <input type="hidden" id="member-id" th:value="${memberDto.getMemberId()}"/>
          <input type="hidden" id="csrf" th:value="${_csrf.token}"/>
          <div th:if="${memberDto.getMemberId().equals(session.member.getMemberId())}">
            <label for="update-profile-img">
              사진 업데이트하기
            </label>
            <input type="file" id="update-profile-img" accept="image/*"/>
          </div>
        </div>
        <div class="member-profile__auth-container">
          <div class="member-profile__auth-icon">
            <i class="fas fa-user-shield"></i>
          </div>
          <div class="member-profile__confirm-wrap">
            <div class="member-profile__auth-title">본인 인증</div>
            <div>본인 인증을 마쳤다는 사실을 다른 사용자에게 보여줄 수 있습니다.</div>
          </div>
        </div>
        <div class="member-profile__auth-title">인증 완료</div>
        <div class="member-profile__auth-item">
          <i class="fas fa-check"></i>
          <span>이메일</span>
        </div>
      </div>
    </aside>
    <div class="member-profile__info-container">
      <div class="member-profile__info-wrap">
        <h1 class="member-profile__info-title"
            th:text="'안녕하세요. ' + ${memberDto.getUsername()} + '입니다.'">
          안녕하세요. 저는 사람입니다.
        </h1>
        <span class="member-profile__info-create-date"
              th:text="|회원 가입: ${#temporals.format(memberDto.getCreateDate(), 'yyyy년 MM월 dd일')}|">
          회원 가입: 2021년
        </span>
        <a th:if="${memberDto.getMemberId().equals(session.member.getMemberId())}"
           th:href="@{/member/setting}"
           class="member-profile__profile-setting">
          프로필 수정하기
        </a>
      </div>

      <section class="room-info__container">
        <h2 th:text="${memberDto.getUsername()} + '님의 숙소'"></h2>
        <div class="room-info__wrap">
          <div th:each="roomInfoDto : ${roomInfoDtos}" class="room-info__item-box">

            <div class="room-info__img-container">
              <a th:href="@{|/room/detail/${roomInfoDto.getRoomId()}|}">
                <img th:src="${roomInfoDto.getRoomImg()}" alt="숙소 대표 사진"/>
              </a>
            </div>

            <div class="room-info__content-container">
              <div class="room-info__box review-score__container">
                <div class="review-score__star-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div th:text="${#numbers.formatDecimal(roomInfoDto.getReviewScore(), 1, 1, 'POINT')}">5.0</div>
                <div th:text="'(' + ${roomInfoDto.getReviewCount()} + ')'">(1)</div>
              </div>

              <div class="room-info__box">
                <div th:text="${roomInfoDto.getBuildingType()}">집 전체</div>
                <div>·</div>
                <div th:text="${roomInfoDto.getRoomType()}">House</div>
              </div>

              <div th:text="${roomInfoDto.getTitle()}">제목</div>

              <div class="room-info__box">
                <div th:text="'₩' + ${#numbers.formatInteger(roomInfoDto.getPrice(), 3, 'COMMA')}">10000</div>
                <div>/</div>
                <div>1박</div>
              </div>
            </div>

          </div>

        </div>
      </section>

      <section class="review-info__container">
        <div class="review-info__title-container">
          <div class="review-info__icon">
            <i class="fas fa-star"></i>
          </div>
          <h2 th:text="'후기 ' + ${guestReviewCount + hostReviewCount} + '개'">후기 0개</h2>
          <a th:if="${memberDto.getMemberId().equals(session.member.getMemberId())}" th:href="@{/review/guest-about}">내가
            작성한 후기</a>
        </div>

        <ul class="review-info__tab-container">
          <li>
            <button th:text="'게스트가 남긴 후기 (' + ${guestReviewCount} + ')'" class="guest-review-btn-js"></button>
          </li>
          <li>
            <button th:text="'호스트가 남긴 후기 (' + ${hostReviewCount} + ')'" class="host-review-btn-js"></button>
          </li>
        </ul>

        <div class="review-content-container-js">
          <div class="review-info__content-wrap">
            <div class="review-info__content-review-reg-date">9월 2020</div>
            <div class="review-info__content-review-content">
              리뷰
            </div>
            <div class="review-info__content-profile-container">
              <img th:src="${session.member.getProfileImg()}" alt="프로필" class="review-info__content-profile-img"/>
              <div class="review-info__content-username">조지헌님</div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</th:block>
</html>