<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/member/profile.css}"/>
</th:block>
<th:block layout:fragment="js">
  <script defer th:src="@{/js/member/profile.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <div class="member-profile__container">
    <section class="member-profile__side-container">
      <div class="member-profile__side-wrap">
        <div class="member-profile__img-wrap">
          <img id="member-profile-img" th:src="${memberDto.getProfileImg()}" alt="프로필">
          <div th:if="${memberDto.getMemberId().equals(session.member.getMemberId())}">
            <input type="hidden" id="csrf" th:value="${_csrf.token}"/>
            <label for="update-profile-img">
              사진 업데이트하기
            </label>
            <input type="file" id="update-profile-img" accept="image/*"/>
          </div>
        </div>
        <div class="member-profile__auth-container">
          <div class="member-profile__auth-icon">
            <i class="fas fa-user-shield"></i>
          </div>
          <div class="member-profile__confirm-wrap">
            <div class="member-profile__auth-title">본인 인증</div>
            <div>본인 인증을 마쳤다는 사실을 다른 사용자에게 보여줄 수 있습니다.</div>
          </div>
        </div>
        <div class="member-profile__auth-title">인증 완료</div>
        <div class="member-profile__auth-item">
          <i class="fas fa-check"></i>
          <span>이메일</span>
        </div>
      </div>
    </section>
    <div class="member-profile__info-container">
      <div class="member-profile__info-wrap">
        <h1 class="member-profile__info-title"
            th:text="${memberDto.getUsername()}">
          안녕하세요. 저는 사람입니다.
        </h1>
        <span class="member-profile__info-create-date"
              th:text="${memberDto.getCreateDate()}">
          회원 가입: 2021년
        </span>
      </div>

      <!-- === 어몽박에게 맡긴닷.. === -->
      <div>
        후기 0개
      </div>

    </div>
  </div>
</th:block>
</html>