<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.reservation.repository.ReservationMapper">
  <insert id="reservationInsert" parameterType="ReservationDateDto" useGeneratedKeys="true" keyProperty="reservationId" >
    insert into reservation
    values (null, #{roomId}, #{memberId}, #{status}, #{adult}, #{kid}, #{infant}, #{checkIn}, #{checkOut},
            #{createDate}, #{cancelDate})
  </insert>

  <select id="reservationList" parameterType="ReservationDateDto" resultType="ReservationDto">
    select *
    from reservation
    where member_id = #{memberId} and status = #{status}
    order by check_in desc
  </select>

  <select id="findById" parameterType="ReservationDateDto" resultType="ReservationDto">
    select *
    from reservation
    where reservation_id = #{reservationId}
  </select>

  <update id="reservationCheckOut">
    update reservation
    set status = 'complete'
    where check_out <![CDATA[ < ]]> #{today}
  </update>

</mapper>