<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.reservation.repository.ReservationMapper">
  <insert id="reservationInsert" parameterType="ReservationDateDto" useGeneratedKeys="true" keyProperty="reservationId">
    insert into reservation
    values (null, #{roomId}, #{memberId}, #{status}, #{adult}, #{kid}, #{infant}, #{checkIn}, #{checkOut},
            #{createDate}, #{cancelDate}, #{updateTarget})
  </insert>

  <select id="reservationList" parameterType="ReservationDateDto" resultType="ReservationDto">
    select *
    from reservation
    where member_id = #{memberId}
    and update_target is null
    and status = #{status}
    <if test='status.equals("upcoming")'>
      or status = 'update-no' and member_id = #{memberId}
    </if>
    order by check_in
  </select>

  <select id="findById" parameterType="ReservationDateDto" resultType="ReservationDto">
    select *
    from reservation
    where reservation_id = #{reservationId}
  </select>

  <update id="reservationCheckOut">
    update reservation
    set status = 'complete'
    where check_out <![CDATA[ < ]]> #{today}
      and status = 'upcoming'
  </update>

  <update id="guestReservationUpdateRequest">
    update reservation
    set status = 'update'
    where reservation_id = #{reservationId}
  </update>

  <insert id="guestReservationUpdateInsert">
    insert into reservation (room_id, member_id, status, adult, kid, infant, check_in, check_out, update_target)
    values (#{roomId}, #{memberId}, #{status}, #{adult}, #{kid}, #{infant}, #{checkIn}, #{checkOut}, #{reservationId})
  </insert>

  <update id="hostUpdate">
    update reservation
    set status = #{status}
    where update_target = #{reservationId}
  </update>

  <update id="hostUpdateNo">
    update reservation
    set status = 'update-no'
    where reservation_id = #{reservationId}
  </update>

  <select id="updateList" resultType="ReservationDto">
    select reservation_id, status, update_target
    from reservation
    where update_target is not null
  </select>

  <select id="findByUpdateTarget" resultType="ReservationDto">
    select reservation_id, room_id, adult, kid, infant, check_in, check_out
    from reservation
    where update_target = #{reservationId}
  </select>

  <update id="guestReservationUpdate">
    update reservation
    set status    = 'upcoming',
        adult     = #{adult},
        kid       = #{kid},
        infant    = #{infant},
        check_in  = #{checkIn},
        check_out = #{checkOut}
    where reservation_id = #{reservationId}
  </update>

  <delete id="reservationDelete">
    delete
    from reservation
    where reservation_id = #{reservationId}
  </delete>

  <update id="guestReservationCancel">
    update reservation
    set cancel_date = #{cancelDate},
        status      = #{status}
    where reservation_id = #{reservationId}
  </update>

  <select id="findByUpdateReservationId" resultType="ReservationRoomPaymentDto">
    select reservation.reservation_id,
           reservation.room_id,
           reservation.status,
           adult,
           kid,
           infant,
           check_in,
           check_out,
           room.address,
           room.sub_address,
           room.price  as room_price,
           title,
           m.member_id as host_id,
           m.username,
           p.payment_id,
           p.price,
           p.commission,
           room_img.room_img
    from reservation
           join room on reservation.room_id = room.room_id
           join room_img on room.room_id = room_img.room_id
           join member m on room.member_id = m.member_id
           left outer join payment p on reservation.reservation_id = p.reservation_id
    where reservation.update_target = #{reservationId}
       or reservation.reservation_id = #{reservationId}
    group by reservation.reservation_id
  </select>

  <select id="findByCancelReservationId" resultType="ReservationRoomPaymentDto">
    select reservation.reservation_id,
           reservation.room_id,
           reservation.status,
           adult,
           kid,
           infant,
           check_in,
           check_out,
           room.address,
           room.sub_address,
           title,
           m.member_id as host_id,
           m.username,
           p.payment_id,
           p.price,
           p.commission,
           room_img.room_img
    from reservation
           join room on reservation.room_id = room.room_id
           join room_img on room.room_id = room_img.room_id
           join member m on room.member_id = m.member_id
           join payment p on reservation.reservation_id = p.reservation_id
    where reservation.reservation_id = #{reservationId}
    group by reservation.reservation_id
  </select>


</mapper>