<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.reservation.repository.ReservationMapper">
  <insert id="reservationInsert" parameterType="ReservationDateDto" useGeneratedKeys="true" keyProperty="reservationId">
    insert into reservation
    values (null, #{roomId}, #{memberId}, #{status}, #{adult}, #{kid}, #{infant}, #{checkIn}, #{checkOut},
            #{createDate}, #{cancelDate})
  </insert>

  <select id="reservationList" parameterType="ReservationDateDto" resultType="ReservationDto">
    select *
    from reservation
    where member_id = #{memberId} and status = #{status} and update_target is null
    order by check_in
  </select>

  <select id="findById" parameterType="ReservationDateDto" resultType="ReservationDto">
    select *
    from reservation
    where reservation_id = #{reservationId}
  </select>

  <update id="reservationCheckOut">
    update reservation
    set status = 'complete'
    where check_out <![CDATA[ < ]]> #{today}
  </update>

  <update id="guestReservationUpdateRequest">
    update reservation
    set status = 'update'
    where reservation_id = #{reservationId}
  </update>

  <insert id="guestReservationUpdateInsert">
    insert into reservation (room_id, member_id, status, adult, kid, infant, check_in, check_out, update_target)
    values (#{roomId}, #{memberId}, #{status}, #{adult}, #{kid}, #{infant}, #{checkIn}, #{checkOut}, #{reservationId})
  </insert>

  <update id="guestReservationCancel">
    update reservation
    set cancel_date = #{cancelDate}, status = #{status}
    where reservation_id = #{reservationId}
  </update>

</mapper>