<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.room.repository.RoomMapper">

  <select id="findById" resultType="RoomDto">
    select *
    from room
    where room_id = #{roomId}
  </select>

  <select id="findByRenewDate" resultType="java.time.LocalDateTime">
    select renew_date
    from room
    where room_id = #{roomId}
  </select>

  <select id="findByExpiryDate" resultType="int">
    select expiry_date
    from room
    where room_id = #{roomId}
  </select>

  <insert id="save" parameterType="RoomDto" useGeneratedKeys="true" keyProperty="roomId">
    insert into room (member_id, zipcode, address, sub_address)
    values (#{memberId}, #{zipcode}, #{address}, #{subAddress})
  </insert>

  <update id="updateAddress" parameterType="RoomDto">
    update room
    set zipcode=#{zipcode},
        address=#{address},
        sub_address=#{subAddress}
    where room_id = #{roomId}
  </update>

  <update id="updateTypes" parameterType="RoomDto">
    update room
    set building_type=#{buildingType},
        room_type=#{roomType}
    where room_id = #{roomId}
  </update>

  <update id="updateBedrooms" parameterType="RoomDto">
    update room
    set max_people=#{maxPeople},
        bedroom_count=#{bedroomCount},
        bed_count=#{bedCount},
        bath_count=#{bathCount}
    where room_id = #{roomId}
  </update>

  <update id="updateInfo" parameterType="RoomDto">
    update room
    set title=#{title},
        content=#{content}
    where room_id = #{roomId}
  </update>

  <update id="updateAvailabilitySettings" parameterType="RoomDto">
    update room
    set expiry_date=#{expiryDate},
        max_date_number=#{maxDateNumber},
        check_in_time=#{checkInTime},
        check_out_time=#{checkOutTime}
    where room_id = #{roomId}
  </update>

  <update id="updatePrice" parameterType="RoomDto">
    update room
    set price=#{price}
    where room_id = #{roomId}
  </update>

  <update id="updateStatus" parameterType="RoomDto">
    update room
    set status=#{status}
    where room_id = #{roomId}
  </update>

</mapper>
