body, html {
    overflow: hidden;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.room__register-container {
    height: 100%;
    margin: 50px;
}


.room__guide {
    font-weight: bold;
    margin-top: 50px;
    font-size: 25px;
}

.room__guide-sub {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #787878;
}


.room__register-btn {
    padding: 15px 30px;
    size: 17px;
    color: white;
    font-weight: bold;
    background-color: #56a5ac;
    border-radius: 8px;
    border: none;
    margin-top: 40px;
}
