.room__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.room__register-container {
  height: 100%;
  padding: 50px;
}

.room__guide {
  font-weight: bold;
  margin-top: 50px;
  font-size: 25px;
}

.room__guide-sub {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #787878;
}

.room__register-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 46px;
  size: 17px;
  color: white;
  font-weight: bold;
  background-color: #56a5ac;
  border-radius: 8px;
  border: none;
  margin-top: 40px;
}

/* === File === */
.room__images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: 15rem;
}

.room__images-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}

.room__images-wrap > input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.room__images-wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
}

.room__images-wrap > span {
  color: #787878;
  font-size: 2rem;
}