<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.member.repository.MemberMapper">
  <select id="findByEmail" resultType="MemberDto">
    select *
    from member
    where email = #{email}
  </select>

  <select id="findById" resultType="MemberDto">
    select *
    from member
    where member_id = #{memberId}
  </select>

  <insert id="save" parameterType="MemberDto" useGeneratedKeys="true" keyProperty="memberId">
    insert into member
    (email,
     password,
     username,
     birthdate,
     profile_img,
     mobile,
     host_grade,
     social,
     role)
    values (#{email},
            #{password},
            #{username},
            #{birthdate},
            #{profileImg},
            #{mobile},
            #{host_grade},
            #{social},
            #{role})
  </insert>

  <update id="updateUsername" parameterType="MemberDto">
    update member
    set username=#{username}
    where member_id = #{memberId}
  </update>

  <update id="updateBirthdate" parameterType="MemberDto">
    update member
    set birthdate=#{birthdate}
    where member_id = #{memberId}
  </update>

  <update id="updateMobile" parameterType="MemberDto">
    update member
    set mobile=#{mobile}
    where member_id = #{memberId}
  </update>

  <update id="updateAddress" parameterType="MemberDto">
    update member
    set zipcode=#{zipcode},
        address=#{address},
        sub_address=#{subAddress}
    where member_id = #{memberId}
  </update>

  <update id="updateBio" parameterType="MemberDto">
    update member
    set bio=#{bio}
    where member_id = #{memberId}
  </update>

  <update id="updatePassword" parameterType="MemberDto">
    update member
    set password=#{password},
        update_date=#{updateDate}
    where member_id = #{memberId}
  </update>

  <update id="updateProfileImg" parameterType="MemberDto">
    update member
    set profile_img=#{profileImg}
    where member_id = #{memberId}
  </update>

  <update id="updateHostGradeAndRole" parameterType="MemberDto">
    update member
    set host_grade=#{hostGrade},
        role=#{role}
    where member_id = #{memberId}
  </update>

</mapper>
