<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.member.repository.MemberMapper">
  <select id="findByEmail" resultType="Member">
    select *
    from member
    where email = #{email}
  </select>

  <select id="findById" resultType="Member">
    select *
    from member
    where member_id = #{memberId}
  </select>

  <insert id="save" parameterType="Member">
    insert into member
    (email,
     password,
     name,
     birthdate,
     zipcode,
     address,
     sub_address,
     phone,
     social,
     role)
    values (#{email},
            #{password},
            #{name},
            #{birthdate},
            #{zipcode},
            #{address},
            #{subAddress},
            #{phone},
            #{social},
            #{role})
  </insert>

  <update id="updateMember" parameterType="Member">
    update member
    set name=#{name},
        birthdate=#{birthdate},
        profile_img=#{profileImg},
        zipcode=#{zipcode},
        address=#{address},
        sub_address=#{subAddress},
        phone=#{phone},
        bio=#{bio}
    where email = #{email}
  </update>

  <update id="updatePassword" parameterType="Member">
    update member
    set password=#{password}
    where member_id = #{memberId}
  </update>

</mapper>
