<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/error/404.css}"/>
</th:block>

<th:block layout:fragment="js">
  <script src="https://kit.fontawesome.com/72ec3ada60.js" crossorigin="anonymous"></script>
</th:block>

<th:block layout:fragment="content">
<div class="error__image">
  <div class="error__text">
    <a class="error__logo" th:href="@{/}">SIXUNIVERSE</a>
    <div class="error__text-number">404.</div>
    <div class="error__text-sub"> That’s an error.</div>
    <br>
    <div>The requested URL was not found on this server.</div>
    <div class="error__text-sub">That’s all we know.</div>
  </div>
  <i class="far fa-comment-alt"></i>
</div>
</th:block>
</html>