@charset "UTF-8";

:root {
  --header-height: 5rem;
  --guest-color: #ff385c;
  --light-guest-color: #ffb3b3;
  --host-color: #398288;
  --disable-color: #b3b3b3;
  --fail-background-color: #fff8f6;
  --fail-border-color: #fc642d;
}