<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yts8.sixuniverse.payment.repository.PaymentMapper">
  <insert id="paymentInsert">
    insert into payment (payment_id, reservation_id, price, commission, mileage, discount, member_coupon_id, payment_method)
    values (#{paymentId}, #{reservationId}, #{price}, #{commission}, #{mileage}, #{discount}, #{memberCouponId}, #{paymentMethod})
  </insert>

  <select id="findByReservationId" resultType="PaymentDto">
    select payment_id, price, commission, payment_method
    from payment
    where reservation_id = #{reservationId} and cancel_date is null
  </select>

  <update id="paymentCancel">
    update payment
    set cancel_date = #{cancelDate}
    where payment_id = #{paymentId}
  </update>

  <update id="paymentUpdate">
    update payment
    set price = #{price}, commission = #{commission}
    where payment_id = #{paymentId}
  </update>

  <delete id="paymentDelete">
    delete from payment
    where payment_id = #{paymentId}
  </delete>

</mapper>