<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/host/register/availability-setting.css}"/>
</th:block>

<th:block layout:fragment="js">
  <script defer th:src="@{/js/room/host/register/availability-settings.js}"></script>
</th:block>

<th:block layout:fragment="content">

  <div class="room__container">

    <div class="room__register-container">

      <form th:action="@{/host/room/register/availability-settings/update}" method="post">
        <input type="hidden" name="roomId" th:value="${roomDto.roomId}"/>
        <div class="room__guide">얼마나 먼 날짜까지 예약할 수 있나요?</div>

        <div class="room__setting-radio-container">

          <label class="room_setting-radio">
            <input type="radio" name="expiryDate" checked value="12"
                   th:checked="${roomDto.getExpiryDate() == 12}"><span>항상</span>
          </label>

          <label class="room_setting-radio">
            <input type="radio" name="expiryDate" value="3"
                   th:checked="${roomDto.getExpiryDate() == 3}"><span>3개월</span>
          </label>

          <label class="room_setting-radio">
            <input type="radio" name="expiryDate" value="6"
                   th:checked="${roomDto.getExpiryDate() == 6}"><span>6개월</span>

          </label>

          <label class="room_setting-radio">
            <input type="radio" name="expiryDate" value="9"
                   th:checked="${roomDto.getExpiryDate() == 9}"><span>9개월</span>
          </label>

        </div>

        <div class="room__guide">게스트가 얼마 동안 숙박할 수 있나요?</div>
        <div class="room__guide-sub">숙박 기간이 짧으면 예약을 더 많이 받을 수 있지만, 새로운 게스트를 맞이하기 위한 호스팅 준비도 더 자주 해야 합니다.</div>

        <div class="room__number-container">
          <div class="room__number">
            <button type="button" class="room__decrease" id="date-minus"><i class="fas fa-minus"></i></button>
            <input type="text" name="maxDateNumber" th:value="${roomDto.getMaxDateNumber()}" id="max-date-number"
                   readonly>
            <button type="button" class="room__increase" id="date-plus"><i class="fas fa-plus"></i></button>
          </div>
        </div>


        <div class="room__guide">체크인 시간을 선택해 주세요.</div>
        <select name="checkInTime" class="room__time-selector">
          <option th:each="time : ${#numbers.sequence(10, 21)}"
                  th:value="${time}"
                  th:selected='${#strings.equals(roomDto.getCheckInTime(), time)}'
                  th:text="|${time}시|"></option>
        </select>

        <div class="room__guide">체크아웃 시간을 선택해 주세요.</div>
        <select name="checkOutTime">
          <option th:each="time : ${#numbers.sequence(10, 21)}"
                  th:value="${time}"
                  th:selected='${#strings.equals(roomDto.getCheckOutTime(), time)}'
                  th:text="|${time}시|"></option>
        </select>

        <button type="submit" id="submit" class="room__register-btn">계속</button>
      </form>
    </div>
  </div>
</th:block>
</html>