<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/host/register/calendar.css}"/>
  <link rel="stylesheet" th:href="@{/css/room/host/register/fullcalendar.css}"/>
</th:block>
<th:block layout:fragment="js">
  <script defer th:src="@{/js/room/host/register/fullcalendar.js}"></script>
  <script defer th:src="@{/js/room/host/register/calendar.js}"></script>
</th:block>
<th:block layout:fragment="content">
  <div class="room__container">

    <div class="room__register-container">

      <div class="room__guide">숙소의 예약정보를 정해주세요.</div>
      <input type="hidden" id="room-id" th:value="${roomId}"/>
      <input type="hidden" id="renew-date" th:value="${renewDate}"/>
      <input type="hidden" id="yesterday" th:value="${yesterday}"/>
      <input type="hidden" id="expiry_date" th:value="${expiryDate}"/>
      <input type="hidden" id="expiry_day" th:value="${expiryDay}"/>
      <input type="hidden" id="csrf" th:value="${_csrf.token}"/>
      <div class="room__guide">예약 가능 여부 설정하기</div>
      <div class="room__guide-sub">
        간단한 방법으로 달력을 수정할 수 있어요. 예약을 차단하거나 차단 해제할 날짜를 선택하기만 하면 됩니다. 숙소를 등록한 후에도 언제든지 변경할 수
        있습니다.
      </div>

      <div class="room__guide">달력</div>
      <div class="room_calendar-container">
        <div id='calendar'></div>
      </div>

      <div>
        <button type="button" class="room__register-btn room-register-btn-js">계속</button>
      </div>
    </div>
  </div>
</th:block>
</html>