.ui-datepicker-title {
    background-color: white;
}

.ui-state-default, .ui-widget-content .ui-state-default{
    background-color: transparent !important;
    border: none !important;
    font-weight: bold !important;
    text-align: center;
    padding: 10px;
}

.ui-widget-header {
    border: none !important;
    background-color: transparent !important;
}

.ui-state-active, .ui-widget-content .ui-state-active,
.ui-start, .ui-end{
    background-color: black !important;
    border-radius: 20px !important;
}

.ui-widget-content {
    width: 100% !important;
    border: none !important;
}

.ui-datepicker-multi .ui-datepicker-group {
    border: none !important;
}

.date-range-selected {
    background-color: rgba(216,216,216,0.7);
    border-radius: 20px;
}

