.guest-reservation-detail__box {
    width: 85%;
    margin: 50px auto;
}

.guest-reservation-detail__content {
    display: flex;
}

.guest-reservation-detail__back {
    font-weight: bold;
    font-size: 20px;
}

.guest-reservation-detail__detail-room-box {
    margin-left: 10px;
}

.guest-reservation-detail__simple-room-info {
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 1px solid #c3c3c3;

}

.guest-reservation-detail__room-info-box {
    overflow-y: scroll;
    padding: 10px;
}

.guest-reservation-detail__room-info-small-box {
    border: 1px solid transparent;
}

.guest-reservation-detail__room-info {
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

.guest-reservation-detail__content-line {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
}