@charset "UTF-8";

/* === header === */
.header__hide {
  display: none;
}

.header__container {
  position: static;
}

#reservation-box {
  width: 85%;
  margin: 50px auto;
}

.reservation__content {
  max-width: 1280px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.reservation__content-info {
  margin: 0 auto;
  display: flex;

}

.reservation__first {
  display: flex;
}

.reservation__back {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
}

.fa-chevron-left {
  /*float: inherit;*/
  margin: 0 auto;
}

.reservation__back:hover {

  background-color: #c3c3c3;
}

.reservation__back > a {
  font-size: 25px;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.reservation__sub-title {
  font-size: 23px;
  font-weight: bold;
  margin: 30px 0 40px 0;
}

.reservation__sub-title2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.reservation__re-title {
  margin-left: 20px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}

.reservation__update-btn {
  float: right;
  padding: 0;
  height: 20px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.reservation__coupon-box {
  display: flex;
}

.reservation__coupon-box > span {
  margin-right: 20px;
}

.reservation__coupon-btn {
  font-size: 10px;
  padding: 5px;
  margin-right: 20px;
  background-color: black;
  color: white;
}

.reservation__coupon-discount {
  width: 150px;
  padding-bottom: 5px;
  text-align: right;
  border-bottom: 1px solid #c3c3c3;
}

.reservation__mileage-box {
  display: flex;
}

.reservation__mileage-box > span {
  margin-right: 20px;
  padding-bottom: 5px;
}

.reservation__user-mileage {
  width: 150px;
  text-align: right;
  border-bottom: 1px solid #c3c3c3;
}

.reservation__mileage {
  margin-top: 10px;
}

.reservation__input-mileage {
  width: 150px;
  border: none;
  border-bottom: 1px solid #c3c3c3;
  margin-left: 15px;

}

.reservation__re-info {
  width: 50%;

}

.reservation__box2 {
  display: flex;
  margin-bottom: 20px;
}

.reservation__small-box {
  width: 90%;
}

.reservation__small-box > div {
  margin-bottom: 10px;
}

.reservation__img {
  width: 15px;
}

.reservation__img2 {
  width: 40px;
  height: 30px;
}

.reservation__small-box > div {
  margin-bottom: 5px;
}

.reservation__line {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid;
  border-top-color: rgb(221, 221, 221);
}

.reservation__mileage-info {
  margin-top: 20px;
}

.reservation__host-msg {
  font-weight: bold;
  margin-bottom: 5px;
}

.reservation__host-info {
  display: flex;
  background-color: #EAEAEA;
  padding: 10px;
  margin-top: 20px;
}

.host_name {
  padding-left: 10px;
}

.reservation__msg {
  width: 99%;
  height: 70px;
  margin-top: 20px;
  border-color: #c3c3c3;
  border-radius: 10px;
  resize: vertical;
}

.reservation__refund {
  border-left: 8px solid #FFB2D9;
  padding-left: 24px;
}

.reservation__wait-info {
  display: flex;
}

.reservation__wait-content {
  margin-left: 10px;
}

.reservation__wait {
  font-weight: bold;
}

.reservation__btn {
  width: max-content;
  height: max-content;
  padding: 20px;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.reservation__room-box {
  box-sizing: border-box;
  width: 40%;
  height: max-content;
  border: 1px solid #D5D5D5;
  margin-left: 70px;
  padding: 30px;
  border-radius: 15px;
  top: 100px;
  position: sticky;
  z-index: 0;
}

.reservation__room-info {
  display: flex;
}

.reservation__room-img {
  width: 120px;
  height: 90px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.reservation__room-img > img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
}

.reservation__room-info2 {
  margin-left: 10px;
}

.reservation__room-info2 >  div {
  margin-top: 7px;
}

.reservation__room-sub-address {
  margin-left: 5px;
}

.reservation__room-info2 >  div:nth-of-type(1), .reservation__room-info2 >  div:nth-of-type(3) {
  font-size: 11px;
}

.reservation__room-info2 >  div:nth-of-type(4) {
  font-size: 13px;
}

.reservation__review-grade {
  width: 100%;
  display: flex;
}

.fa-star, .fa-medal {
  color: #EB4C60;
}

.reservation__review-grade > div:nth-child(1) {
  margin-right: 10px;
}

.reservation__table {
  display: table;
  width: 100%;
  height: 30px;
}

.reservation__price {
  display: table-cell;
}

.reservation__price2 {
  display: table-cell;
  float: right;

}

.reservation__total {
  display: table-cell;
  font-weight: bold;
}

.reservation__total2 {
  display: table-cell;
  float: right;
  font-weight: bold;
}