.guest-reservation__box {
  width: 90%;
  margin: 50px auto;
}

.guest-reservation__content {
  max-width: 1600px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.guest-reservation__title {
  font-size: 32px;
  font-weight: bold;

}

.guest-reservation__nav {
  display: flex;
  border-bottom: 1px solid #c3c3c3;
  margin-top: 30px;
}

.guest-reservation__upcoming, .guest-reservation__complete,
.guest-reservation__cancel, .guest-reservation__update {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 16px;
  height: 50px;
  vertical-align: top;
  cursor: pointer;
}

.guest-reservation__active {
  border-bottom: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

.guest-reservation__complete, .guest-reservation__cancel, .guest-reservation__update {
  margin-left: 30px;
}

.guest-reservation__room-info {
  width: 100%;
  height: 100%;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(30px, auto);
}

.guest-reservation__nothing {
  width: 1200px;
}

.guest-reservation__room-info-table {
  width: 100%;
  min-height: 300px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #c3c3c3;
}

.guest-reservation__detail {
  height: 40px;
  border-top: 1px solid #c3c3c3;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.guest-reservation__detail-btn {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-weight: bold;
  cursor: pointer;
}

.guest-reservation__room-img-box {
  width: 100%;
  height: 170px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.guest-reservation__room-img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.guest-reservation__room-simple-info {
  padding: 20px;
}

.guest-reservation__reservation-date {
  font-size: 11px;
}

.guest-reservation__room-simple-address {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.guest-reservation__room-simple-info-room-name {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* 취소 변경 */
.guest-reservation__cancel-update-box {
  margin-top: 20px;

}

.guest-reservation__cancel-update-box table {
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid #b3b3b3;
  vertical-align: middle;
}

.guest-reservation__cancel-update-box table tr:nth-of-type(1) td:nth-of-type(1) div:nth-of-type(1){
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}

.guest-reservation__cancel-update-box table div:nth-of-type(1) > img {
  width: 100%;
  height: 90%;
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
}


.guest-reservation__cancel-update-box table tr:nth-of-type(1) td:nth-of-type(1) {
  width: 100px;
  height: 100px;
  padding: 20px;

}

.guest-reservation__cancel-update-box table td:nth-of-type(2) {
  vertical-align: middle;
  padding: 10px;
}

.guest-reservation__cancel-update-box table tr:nth-of-type(2) td:nth-of-type(1) {
  padding: 10px;

}

.guest-reservation__cancel-update-box table tr:nth-of-type(2) td:nth-of-type(1) > div{
  margin-bottom: 8px;
  color: #888888;
}