.guest-reservation-update__box {
  display: flex;
  width: 80%;
  margin: 50px auto;
}

.guest-reservation-update__box2 {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.guest-reservation-update__title {
  margin: 30px 0 30px 0;
  font-size: 30px;
  font-weight: bold;
}

.guest-reservation-update__small-box {
  margin: 40px 0 40px 0;

}

.guest-reservation-update__sub-title {
  font-weight: bold;
  font-size: 16px;
}

.guest-reservation-update__reservation-date, .guest-reservation-update__guest {
  display: flex;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  justify-content: space-between;
}

.guest-reservation-update__icon {
  cursor: pointer;
}

.guest-reservation-update__msg {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.guest-reservation-update__next-btn {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #24292e;
  color: white;
}

.guest-reservation-update__reservation-box {
  width: 400px;
  height: 90%;
  border: 1px solid #d9d9d9;
  padding: 20px;
  margin-left: 100px;
  margin-top: 30px;
}

.guest-reservation-update__room-info {
  display: flex;
  padding: 10px 0 20px;
}

.guest-reservation-update__room-title {
  font-weight: bold;
  margin-right: 10px;
}

.guest-reservation-update__room-address {
  margin-top: 8px;
  color: #888888;
}

.guest-reservation-update__info-align {
  display: flex;
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.guest-reservation-update__content {
  margin-left: 10px;
}

.guest-reservation-update__total-guest {
  margin-top: 10px;
  color: #888888;
}

.guest-reservation-update__before-price-info, .guest-reservation-update__after-price-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.guest-reservation-update__room-img-box {
  width: 100px;
  height: 80px;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.guest-reservation-update__room-img {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
}



/* update-result */
.guest-reservation-update__result-content {
  width: 400px;
}
.guest-reservation-update__price-info {
  border-top: 1px solid #d9d9d9;
}

.guest-reservation-update__price-info > div {
  margin-top: 10px;
}

.guest-reservation-update__reply {
  font-size: 16px;
  font-weight: bold;
}

.guest-reservation-update__new-guest {
  margin: 30px 0 30px 0;
}

.guest-reservation-update__new-guest > div {
  margin-top: 10px;
}

.guest-reservation-update__btn {
  display: flex;
}

.guest-reservation-update__back-btn {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid black;
  cursor: pointer;
}


.guest-reservation-update__result-next-btn {
  text-align: center;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #24292e;
  color: white;
  cursor: pointer;
}
