.reservation__guest-update-btn {
    margin-top: 20px;
    padding: 30px;
    border-top: 1px solid #d9d9d9;
}

.reservation__guest-update {
    float: right;
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.reservation__guest {
    width: 100%;
    display: table;
    margin-bottom: 20px;
}

.reservation__guest-title {
    display: table-cell;
    font-weight: bold;
}

.reservation__guest-age {
    float: left;
}

.reservation__number-right {
    margin-left: 40px;
    display: table-cell;
    float: right;
}

.reservation__guest-number {
    margin-left: 10px;
    display: flex;
}

.reservation__guest-number > input{
    width: 20px;
    text-align: center;
    border: none;
}

.reservation__decrease, .reservation__increase {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    margin: 0 5px 0 5px;
    text-align: center;
}

.fa-minus, .fa-plus {
    color: #c3c3c3;
}

.reservation__decrease:hover, .reservation__increase:hover {
    border-color: #888888;
}

.reservation__guest-box {
    display: flex;
    justify-content: space-between;
}