<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="js"></th:block>

<th:block layout:fragment="content">
  <div>
    <div>
      <div class="wishlist-folder__wishone">
        <h1 class="wishlist-folder__savelist">저장 목록</h1>
      </div>
      <button type="button" class="wishlist-folder__makelist">목록 만들기</button>
    </div>
    <section>
      <div>
        <ul class>
          <li>
            <div>
              <div>
                <div>사진</div>
                <div>사진</div>
                <div>사진</div>
              </div>
              <div>
                <div>날짜 []</div>
                <div><a href=""></a></div>
                <div>숙소 []개</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>
</th:block>

</html>