<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <div>
    <div class="wishone">
      <h1 class="savelist">저장 목록</h1>
    </div>
    <button type="button" class="makelist">목록 만들기</button>
  </div>
  <section>
    <div>
      <ul class>
        <li>
          <div>
            <div>
              <div>사진</div>
              <div>사진</div>
              <div>사진</div>
            </div>
            <div>
              <div>날짜 []</div>
              <div><a href=""></a></div>
              <div>숙소 []개</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>


</div>
</body>
</html>