<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" xmlns="http://www.w3.org/1999/html">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/room/detail.css}"/>
  <link rel="stylesheet" th:href="@{/css/reservation/detail-modal.css}">
  <link rel="stylesheet" th:href="@{/css/review/reservation-review.css}"/>
  <!--  <link rel="stylesheet" th:href="@{/css/reservation/ui-datepicker.css}">-->
</th:block>
<th:block layout:fragment="js">
  <script type="text/javascript" defer th:src="@{/js/reservation/reservation-date-modal.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/reservation/reservation-modal.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/reservation/reservation-check.js}"></script>
  <script type="text/javascript" defer th:src="@{/js/review/review.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <input type="hidden" id="csrf" th:value="${_csrf.token}"/>
  <input type="hidden" id="room-id" th:value="${roomId}"/>

  <div class="room__detail-container">
    <div class="room__detail-first-container">
      <div class="room__detail-subject"><span th:text="${room.title}"></span></div>
      <div class="room__detail-address"><span th:text="${room.address}"></span></div><!--주소 클릭하면 지도로 바로 검색 링크걸기-->
      <div class="room__detail-photo-container">
        <div class="room__detail-photo-big-container"><img th:src="${roomImages.get(0).getRoomImg()}"/></div>
        <div class="room__detail-photo-small-container">
          <label th:each="index : ${#numbers.sequence(1, 4)}" class="room__images-wrap room-image-label-js">
            <img th:src="${roomImages.get(index).getRoomImg()}"/>
          </label>
        </div>
      </div>
    </div>
    <div class="room__detail-second-container">
      <div class="room__detail-second-left-container">

        <div class="room__detail-summery-container">
          <div class="room__detail-summery-subject">
            <!--            호스트네임 가져오기-->
            보영님이 호스팅하는
            <span th:text="${room.buildingType}"></span>
            <span th:text="${room.roomType}"></span></div>
          <div class="room__detail-summery-sub">
            최대 인원 <span th:text="${room.maxPeople}"></span>명 ·
            <!--            if문돌려서 값 1 이상일때만 보이게 하기-->
            침실 <span th:text="${room.bedroomCount}"></span> ·
            침대 <span th:text="${room.bedCount}"></span>개 ·
            욕실 <span th:text="${room.bathCount}"></span>개
          </div>
        </div>

        <div class="room__detail-rule-container">
          <div class="room__detail-rule-subject">집 전체</div>
          <div class="room__detail-rule-sub">공동주택 전체를 단독으로 사용하시게 됩니다.</div>
          <div class="room__detail-rule-subject">체크인 24시간 전까지 수수료 없이 예약 취소 가능</div>
          <div class="room__detail-rule-sub">그 이후로는 체크인 전에 취소하면 첫 1박 요금과 서비스 수수료를 제외한 전액이 환불됩니다.</div>
          <div class="room__detail-rule-subject">숙소 이용규칙</div>
          <div class="room__detail-rule-sub">반려동물 동반이나 흡연이 금지되는 숙소입니다.</div>
        </div>

        <div class="room__detail-introduce-container">
          <span th:text="${room.content}"></span>

          <div><br>호스트한테 연락하기</div><!--          채팅연결 할거면 여기로!!!!-->
        </div>

        <div class="room__detail-amenities-container">
          <div class="room__detail-amenities-subject">편의시설</div>
          <div class="room__detail-amenities-item-container">
            <th:block th:each="facility: ${roomFacilityList}">
              <div class="room__detail-amenities-item" th:text="${facility}"></div>

            </th:block>
          </div>
        </div>

        <div class="room__detail-third-container">
          <div class="reservation-review__main">
            <div class="reservation-review__score-all">
              <div class="reservation-review__star">
                <img th:src="@{/images/wishlist/star.JPG}"/>
              </div>
              <div>
                <span th:text="${reviewScore}"></span>
                <span>점(후기 </span>
                <span th:text="${reviewCount}"></span>
                <span>개)</span>
              </div>
            </div>
            <div class="reservation-review__score-sub">
              <div class="reservation-review__sub-box">
                <div class="reservation-review__sub-box-left">청결도</div>
                <div class="reservation-review__sub-box-right">
                  <div class="reservation-review__sub-box-right-bar">
            <span class="reservation-review__progressbar">
              <span class="reservation-review__gauge" th:per="${reviewScoreClean}*100/5.0"></span>
            </span>
                  </div>
                  <div class="reservation-review__sub-box-right-score" th:text="${reviewScoreClean}"></div>
                </div>
              </div>
              <div class="reservation-review__sub-box">
                <div class="reservation-review__sub-box-left">위치</div>
                <div class="reservation-review__sub-box-right">
                  <div class="reservation-review__sub-box-right-bar">
            <span class="reservation-review__progressbar">
              <span class="reservation-review__gauge" th:per="${reviewScoreLocation}*100/5.0"></span>
            </span>
                  </div>
                  <div class="reservation-review__sub-box-right-score" th:text="${reviewScoreLocation}"></div>
                </div>
              </div>
              <div class="reservation-review__sub-box">
                <div class="reservation-review__sub-box-left">서비스</div>
                <div class="reservation-review__sub-box-right">
                  <div class="reservation-review__sub-box-right-bar">
            <span class="reservation-review__progressbar">
              <span class="reservation-review__gauge" th:per="${reviewScoreService}*100/5.0"></span>
            </span>
                  </div>
                  <div class="reservation-review__sub-box-right-score" th:text="${reviewScoreService}"></div>
                </div>
              </div>
            </div>
            <div class="reservation-review__review">
              <th:block th:each="review : ${reviewReservationList}">
                <div class="reservation-review__review-guest">
                  <div class="reservation-review__review-profile">
                    <div class="reservation-review__review-profile-box">
                      <img class="reservation-review__review-profile-box-img"
                           th:src="${review.getGuestProfileImg()}">
                    </div>
                    <div class="reservation-review__review-profile-text">
                      <div class="reservation-review__review-profile-text-name"
                           th:text="${review.getGuestName()}"></div>
                      <div class="reservation-review__review-profile-text-info"
                           th:text="${#temporals.format(review.getReviewRegDate(),'yyyy년 M월')}"></div>
                    </div>
                  </div>
                  <div class="reservation-review__review-text" th:text="${review.getReviewContent()}"></div>
                </div>
              </th:block>
            </div>
            <div class="reservation-review__review-all">
              <button>
                <span>후기 </span>
                <span th:text="${reviewCount}"></span>
                <span>개 모두 보기</span>
              </button>
            </div>

            <!-- 모달창 -->
            <div class="reservation-review__modal">
              <div class="reservation-review__modal-content">
                <div class="reservation-review__update-title">
                  <button>x</button>
                </div>
                <div class="reservation-review__modal-main">
                  <div class="reservation-review__modal-main-left">
                    <div class="reservation-review__score-all-modal">
                      <div class="reservation-review__star">
                        <img th:src="@{/images/wishlist/star.JPG}"/>
                      </div>
                      <div>
                        <span th:text="${reviewScore}"></span>
                        <span>점(후기 </span>
                        <span th:text="${reviewCount}"></span>
                        <span>개)</span>
                      </div>
                    </div>
                    <div class="reservation-review__score-sub-modal">
                      <div class="reservation-review__sub-box-modal">
                        <div class="reservation-review__sub-box-left-modal">청결도</div>
                        <div class="reservation-review__sub-box-right-modal">
                          <div class="reservation-review__sub-box-right-bar-modal">
                    <span class="reservation-review__progressbar">
                      <span class="reservation-review__gauge" th:per="${reviewScoreClean}*100/5.0"></span>
                    </span>
                          </div>
                          <div class="reservation-review__sub-box-right-score-modal"
                               th:text="${reviewScoreClean}"></div>
                        </div>
                      </div>
                      <div class="reservation-review__sub-box-modal">
                        <div class="reservation-review__sub-box-left-modal">위치</div>
                        <div class="reservation-review__sub-box-right-modal">
                          <div class="reservation-review__sub-box-right-bar-modal">
                    <span class="reservation-review__progressbar">
                      <span class="reservation-review__gauge" th:per="${reviewScoreLocation}*100/5.0"></span>
                    </span>
                          </div>
                          <div class="reservation-review__sub-box-right-score-modal"
                               th:text="${reviewScoreLocation}"></div>
                        </div>
                      </div>
                      <div class="reservation-review__sub-box-modal">
                        <div class="reservation-review__sub-box-left-modal">서비스</div>
                        <div class="reservation-review__sub-box-right-modal">
                          <div class="reservation-review__sub-box-right-bar-modal">
                    <span class="reservation-review__progressbar">
                      <span class="reservation-review__gauge" th:per="${reviewScoreService}*100/5.0"></span>
                    </span>
                          </div>
                          <div class="reservation-review__sub-box-right-score-modal"
                               th:text="${reviewScoreService}"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="reservation-review__modal-main-right">
                    <div class="reservation-review__review-modal">
                      <div class="reservation-review__review-guest-modal">
                        <th:block th:each="review : ${reviewReservationListAll}">
                          <div class="reservation-review__review-profile">
                            <div class="reservation-review__review-profile-box">
                              <img class="reservation-review__review-profile-box-img"
                                   th:src="${review.getGuestProfileImg()}">
                            </div>
                            <div class="reservation-review__review-profile-text">
                              <div class="reservation-review__review-profile-text-name"
                                   th:text="${review.getGuestName()}"></div>
                              <div class="reservation-review__review-profile-text-info"
                                   th:text="${#temporals.format(review.getReviewRegDate(),'yyyy년 M월')}"></div>
                            </div>
                          </div>
                          <div class="reservation-review__review-text" th:text="${review.getReviewContent()}"></div>
                          <hr class="reservation-review__review-hr">
                        </th:block>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="room__detail-second-right-container">
        <div class="room__detail-rule-subject" id="reservation-box-subject">요금을 확인하려면 날짜를 입력하세요</div>

        <div class="room__detail-reservation-info">
          <div class="room__detail-check-in-out" id="update-date">
            <div>
              <div class="room__detail-date-title">체크인</div>
              <div class="reservation__check-in">날짜 추가</div>
            </div>
            <div>
              <div class="room__detail-date-title">체크아웃</div>
              <div class="reservation__check-out">날짜 추가</div>
            </div>
          </div>

          <div class="room__detail-guest-box">
            <div class="room__detail-guest-select" id="update-guest">
              <div class="room__detail-date-title">인원</div>
              <div class="room__detail-guest-info">
                성인 : <span class="reservation__guest-adult">1</span> 명 아동 : <span
                  class="reservation__guest-kid">0</span>
                명 유아 : <span class="reservation__guest-infant">0</span> 명
                <div>총 인원 : <span class="reservation__total-guest">1</span> 명</div>
              </div>
            </div>

            <!-- 게스트 모달 -->
            <div id="my-modal" class="reservation__modal">
              <div class="reservation__modal-content">
                <div class="reservation__modal-cancel"><i class="fas fa-times"></i></div>
                <h2 class="reservation__sub-title">게스트</h2>
                <div class="reservation__guest">
                <span>
                 <div class="reservation__guest-title">성인</div>
                </span>
                  <div class="reservation__number-right">
                    <div class="reservation__guest-number">
                      <button class="reservation__decrease" id="adult-minus"><i class="fas fa-minus"></i></button>
                      <input type="text" name="adult-number" value="1" id="adult-number" readonly>
                      <button class="reservation__increase" id="adult-plus"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>
                </div>

                <div class="reservation__guest">
                <span>
                  <div>
                    <div class="reservation__guest-title">어린이</div>
                    <div class="reservation__guest-age">2~12세</div>
                  </div>
                </span>
                  <div class="reservation__number-right">
                    <div class="reservation__guest-number">
                      <button class="reservation__decrease" id="kid-minus"><i class="fas fa-minus"></i></button>
                      <input type="text" name="kid-number" value="0" id="kid-number" readonly>
                      <button class="reservation__increase" id="kid-plus"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>

                </div>

                <div class="reservation__guest">
                <span>
                  <div>
                    <div class="reservation__guest-title">유아</div>
                    <div class="reservation__guest-age">2세 미만</div>
                  </div>
                </span>
                  <div class="reservation__number-right">
                    <div class="reservation__guest-number">
                      <button class="reservation__decrease" id="infant-minus"><i class="fas fa-minus"></i></button>
                      <input type="text" name="infant-number" value="0" id="infant-number" readonly>
                      <button class="reservation__increase" id="infant-plus"><i class="fas fa-plus"></i></button>
                    </div>
                  </div>

                </div>

                <div>최대 <span th:text="${room.maxPeople}" class="reservation__max-people"></span> 명.
                  유아는 숙박인원에 포함되지 않습니다.
                </div>

                <div class="reservation__guest-update-btn">
                <span class="reservation__modal-cancel pop_bt">
                  취소
                </span>
                  <button class="reservation__guest-update">저장하기</button>
                </div>
              </div>

            </div>

          </div>


        </div>

        <button class="room__detail-reservation-check-btn" id="before-btn">예약 가능 여부 보기</button>
        <form th:action="@{|/reservation/${roomId}|}" method="post">
          <input type="hidden" name="checkIn">
          <input type="hidden" name="checkOut">
          <input type="hidden" name="adult" th:value="1">
          <input type="hidden" name="kid" th:value="0">
          <input type="hidden" name="infant" th:value="0">
          <input type="hidden" name="totalPrice">
          <input type="hidden" name="commission">
          <button type="submit" class="room__detail-reservation-check-btn" id="reservation-btn">예약 하기</button>
        </form>

        <div class="room__detail-price-info-box">
          <div class="room__detail-price-info">
            <div>
              <span th:text="|${room.price} x |"></span>
              <span class="room__detail-days"></span>
            </div>
            <div class="room__detail-total-price">총 요금</div>
          </div>
          <div class="room__detail-price-info">
            <div>수수료 10%</div>
            <div class="room__detail-price-commission">얼마</div>
          </div>
        </div>


        <!-- 날짜 modal -->
        <input type="hidden" name="reservationDateList" th:value="${reservationDateList}"
               class="reservation__reservation-date-list">
        <input type="hidden" name="expriyDate" th:value="${room.expiryDate}" class="reservation__room-expiry-date">
        <div id="date-modal" class="reservation__modal">
          <div class="reservation__date-modal-content">
            <div class="reservation__modal-cancel"><i class="fas fa-times"></i></div>
            <div class="reservation__choose-date">
              <h2 class="reservation__sub-title">날짜 선택</h2>
              <div class="reservation__ch-date">
                <div class="reservation__ch-in-out-date">
                  <div class="reservation__check-title">체크인</div>
                  <input type="text" id="check-in" class="reservation__date-value" readonly>
                </div>
                <div class="reservation__ch-in-out-date">
                  <div class="reservation__check-title">체크아웃</div>
                  <input type="text" id="check-out" class="reservation__date-value" readonly>
                </div>
              </div>
            </div>

            <div class="reservation__date-wrapper">
              <div class="dates">
                <div id="range-date"></div>
              </div>

              <div class="reservation__date-done">
                <button class="reservation__delete-date">날짜지우기</button>
                <button class="reservation__save-date">저장</button>
              </div>

            </div>
          </div>

        </div>


      </div>


      <div class="room__detail-fourth-container">
        <!--      지도 넣는 자리-->
      </div>

      <div class="room__detail-fifth-container">
        <!--      호스트 프로필 넣는 자리-->
      </div>

    </div>

  </div>
</th:block>
</html>