<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/room/regi-addr" method="post">
  <select name="" id="">
    <option>아파트</option>
    <option>주택</option>
    <option>별채</option>
    <option>독특한 숙소</option>
  </select>

  <select name="" id="">
    <option>집 전체</option>
    <option>개인실</option>
    <option>다인실</option>
  </select>

  <a href="#">< 뒤로</a>
  <input type="submit" value="계속">
</form>
</body>
</html>