@charset "UTF-8";

/* 세부 채팅창전체 영역*/
.chat__chatroom {
    /*width: 550px;*/
    width: 800px;
}

/* 채팅룸 헤더*/
.chat__chatroom-header {
    height: 72px;
}

/* 채팅방 이름 영역*/
.chat__chatroom-wrap {
    /* width: 509px;*/
    width: 800px;
    height: 72px;
    padding: 0px 20px 0px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(235, 235, 235);
}

/*채팅방 이름*/
.chat__chatroom-name {
    height: 20px;
    width: 490px;
    display: inline;

}

/* 채팅방이름 설정 로고*/
.chat__chatroom-name-setting {
    width: 20px;
    height: 20px;
    float: right;
}


.chat__form-chat {
    width: 500px;
    height: 40px;
    border-style: solid;
    margin: 20px 10px 10px 20px;
    padding: 5px 5px 5px 60px;
    border-radius: 20px;
    display: flex;

}


/* 전체 영역 나누기*/

/* 채팅페이지 전체영역(헤더하단)*/
.chat__chat-frame {
    top: 80px !important;
    /*display: block;*/
    display: flex;
    flex-direction: row;
}

/* 채팅페이지 주요 컨텐츠 영역(리스트/채팅방 영역) */
.chat__chat-container {
    display: flex;
}

/* 세부 채팅창전체 영역*/
.chat__chatroom {
    /*         display: flex;*/
    /* width: 550px;*/
    width: 770px;
    /*        flex-direction: row;
            align-items: center;*/

}


/* 채팅방 리스트 영역 나누기*/
/* 채팅방 리스트 전체 영역*/
.chat__chatroom-list {
    width: 375px;
    border-right: 1px solid rgb(235, 235, 235);

}

/* 채팅방 리스트 스크롤 적용 부분*/
.chat__chatroom-list-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 490px;
}

/* 채팅방 리스트 내 헤더*/
.chat__chatroom-list-header {
    height: 72px;
    padding: 0px 20px 0px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(235, 235, 235);

}

/* 채팅방 리스트 내 헤더 제목(메시지)*/
.chat__chatroom-list-header-name {
    height: 20px;
    width: 291px;
}

/* 한개 채팅방 리스트 전체 영역*/
.chat__chatroom-list-frame {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100px;


}

/* 한개 채팅방 리스트 세부 내용(회색 라운드)*/
.chat__chatroom-list-content {
    padding: 10px 10px 10px 8px;
    margin: 5px 5px 5px 5px;
    display: flex;
    border-radius: 20px;
    background-color: #ededed;
}

/* 채팅방 리스트 회원 이미지 전체 영역*/
.chat__member-img-frame {
    height: 52px;
    width: 52px;
    padding: 0px 12px 0px 0px;


}

/* 채팅방 리스트 회원 이미지*/
.chat__member-img {
    height: 52px;
    width: 52px;
    border-radius: 50%;
}

/* 채팅방 리스트 메시지 정보 전체 영역(사진제외)*/
.chat__member-info-frame {
}

/* 채팅방 리스트 회원이름 */
.chat__member-name {
    width: 290px;
    height: 20px;
    padding-bottom: 5px;
    font-size: 1.0em;
}

/* 채팅방 리스트채팅 내용*/
.chat__message-content {
    width: 290px;
    height: 18px;
    padding: 5px 0 5px 0;
    font-size: 0.9em;
}

/* 채팅방 리스트 채팅 날짜*/
.chat__message-date {
    width: 260px;
    height: 17px;
    padding: 5px 0 5px 0;
    color: #787878;
    font-size: 0.75em;
    text-align: right;
}


/*채팅창 css*/

/* 채팅방 헤더(*/
.chat__chatroom-header {
    height: 72px;
}

/* 채팅방 헤더(채팅방이름)영역*/
.chat__chatroom-wrap {
    /* width: 509px;*/
    width: 765px;
    height: 72px;
    padding: 0px 20px 0px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(235, 235, 235);
}

/* 채팅방 이름 */
.chat__chatroom-name {
    height: 20px;
    width: 490px;
    display: inline;
}

/* 채팅방이름 설정 로고*/
.chat__chatroom-name-setting {
    width: 20px;
    height: 20px;
    float: right;
}

/* 채팅방 내용 */

/* 채팅방 전체 영역*/
.chat__chatroom-content {
    overflow-y: scroll;
    height: 420px;
    display: flex; /*적용하면 가로스크롤은 사라지는데, 나머지 정렬이,,,*/
    flex-direction: column;
}

/* 최상단 채팅 날짜*/
.chat__chatroom-date {
    height: 20px;
    width: 533px;
    padding: 24px 0;
    text-align: center;
    color: rgb(113, 113, 113);
    font-size: 0.8em;

}

/* 출력되는 채팅 메세지 하나의 전체 영역(사진포함)*/
.chat__chat-content {
    width: 473px;
    height: 45px;
    /*  display: flex;
      flex-direction: row;*/
    margin: 10px;
    display: contents;
}


/* 보내는 메세지 */
.chat__send-chat-container {
    display: flex;
    height: 80px;
    margin: 10px;

}

/* 보내는사람 이미지*/
.chat__sender-img {
    width: 45px;
    height: 45px;
    position: static;
    border-radius: 50%;
    /* padding-right: 4px;*/
}

/* 보내는 메세지 내용 영역(사진 제외)*/

.chat__send-chat-content {
    width: 473px;
    height: 23px;
    /* display: contents;*/
}

/* 보내는 사람 이름*/
.chat__sender {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    padding-right: 4px;
    display: inline-block;
    height: 23px;
}

/* 보낸 시간(시간만 출력)*/
.chat__send-time {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    height: 23px;
}

/* 보내는 메세지 내용*/
.chat__send-chat {
    height: 25px;
    width: 473px;
    line-height: normal;
}

/* 받은 메세지 */

.chat__receive-chat-container {

    /*float: right;*/ /*여기 추가*/
    /*height: 80px;
    margin: 10px;*/
    display: flex;
    float: right;
    height: 80px;
    /*margin: 10px;*/
    margin: 10px 55px 10px 10px;
}

/* 상대방 이미지*/
.chat__receiver-img {
    width: 45px;
    height: 45px;
    position: static;
    border-radius: 50%;
    /*padding-right: 4px;*/
}

/* 받은 메세지 내용 영역(사진 제외)*/
.chat__receive-chat-content {
    width: 473px;
    height: 23px;
    text-align: right;
    display: inline-flex;

}

/* 보내는 사람 이름*/
.chat__receiver {
    font-size: 16px;
    line-height: 20px;
    font-weight: 800;
    padding: 0 4px 0 5px;
    display: inline-block;
    height: 23px;

}

/* 보낸 시간(시간만 출력)*/
.chat__receive-time {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    display: inline-block;
    height: 23px;

}

/* 보내는 메세지 내용*/
.chat__receive-chat {
    height: 25px;
    width: 473px;
    text-align: right;
    line-height: normal;
    padding-right: 5px;


}


/* 채팅 입력창 전체 영역*/
.chat__input-chat {
    width: 500px;
    height: 40px;
    border-style: solid;
    margin: 20px 10px 10px 20px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
}

/* 메세지 입력창 */
.chat__message {
    width: 500px;
    height: 40px;
    border: none;
    border-right: 0px;
    border-top: 0px;
    boder-left: 0px;
    boder-bottom: 0px;
}

/* 메세지 전송버튼 */
.chat__send-img {
    width: 40px;
    height: 40px;
}






