<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-securit"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/home/login.css}"/>
</th:block>

<th:block layout:fragment="js">
  <script defer th:src="@{/js/home/join.js}"></script>
</th:block>

<th:block layout:fragment="content">
  <div class="login__container">
    <article class="login__wrap">
      <div class="login__box">
        <h1 class="login__title">Sixuniverse</h1>

        <div class="login__social-container">
          <a href="#" class="login__social-google">
            <i class="fab fa-google"></i>
            <span>Google</span>
          </a>
          <a href="#" class="login__social-kakao">
            <i class="fas fa-comment"></i>
            <span>Kakao</span>
          </a>
          <a href="#" class="login__social-github">
            <i class="fab fa-github"></i>
            <span>Github</span>
          </a>
        </div>

        <div class="login__hr-container">
          <div class="login__hr"></div>
          <span class="login__hr-text">또는</span>
          <div class="login__hr"></div>
        </div>

        <form th:action="@{/join}" method="post" class="login__form">

          <div class="login__input-box">
            <input type="email"
                   name="email"
                   class="join-email-input-js"
                   placeholder="* 이메일"/>

            <div class="login__input-status join-email-icon">
              <i class="fas fa-envelope"></i>
            </div>
          </div>

          <div class="login__input-box join__auth-container join-auth-btn-container-js">
            <button class="join__auth-btn join-auth-btn-js" type="button">인증코드 받기</button>
          </div>

          <div class="login__input-box join__auth-container join-auth-input-container-js">
            <input type="text"
                   class="join-auth-input-js"
                   placeholder="* 인증코드"/>

            <div class="login__input-status join-auth-icon-js">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>

          <div class="login__input-box">
            <input type="password"
                   name="password"
                   class="join-password-input-js"
                   placeholder="* 영문, 숫자, 특수문자 조합 (8~20)"
                   maxlength="20"/>

            <div class="login__input-status join-password-icon-js">
              <i class="fas fa-lock"></i>
            </div>
          </div>

          <div class="login__input-box">
            <input type="text"
                   name="username"
                   class="join-username-input-js"
                   placeholder="* 성명"/>

            <div class="login__input-status join-username-icon-js">
              <i class="fas fa-user"></i>
            </div>
          </div>

          <div class="login__input-box">
            <input type="text"
                   name="birthdate"
                   class="join-birthdate-input-js"
                   placeholder="* 생년월일"
                   maxlength="6"/>

            <div class="login__input-status join-birthdate-icon-js">
              <i class="fas fa-birthday-cake"></i>
            </div>
          </div>

          <div class="login__input-box">
            <input type="text"
                   name="mobile"
                   class="join-mobile-input-js"
                   placeholder="* - 없이 11자리 입력"
                   maxlength="11"/>

            <div class="login__input-status join-mobile-icon-js">
              <i class="fas fa-mobile"></i>
            </div>
          </div>

          <button type="submit" class="join-form-submit-btn">가입</button>

        </form>
      </div>

      <div class="login__box">
        <div class="login__join-question">
          <span>계정이 있으신가요?</span>
          <a th:href="@{/login}" class="login__join-text">로그인</a>
        </div>
      </div>

    </article>
  </div>
</th:block>
</html>


